<div id="forms" class="page-layout simple fullwidth" fxLayout="column">

     <!-- HEADER -->
     <div class="header accent p-24 h-50" fxLayout="row" fxLayoutAlign="start center">
        <div fxLayout="column" fxLayoutAlign="center start">           
            <div class="h1">Change Password</div>
        </div>
    </div>
    <!-- / HEADER -->

    <div class="content p-24">      

        <div class="mb-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row">           

            <form class="mat-card mat-elevation-z4 p-24 mr-24" fxLayout="column" fxLayoutAlign="start"
            fxFlex="1 0 auto" name="form" (submit)="submitForm()" [formGroup]="resetPasswordForm">

            <mat-form-field appearance="outline">
                <mat-label>Current Password</mat-label>
                <input type="password" matInput formControlName="currentPassword">
                <mat-icon matSuffix class="secondary-text">account_balance</mat-icon>
                <mat-error *ngIf="resetPasswordForm.get('currentPassword').hasError('required')">
                    Current Password is required
                </mat-error>                
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>New Password</mat-label>
                <input type="password" matInput formControlName="password">
                <mat-icon matSuffix class="secondary-text">account_balance</mat-icon>
                <mat-error *ngIf="resetPasswordForm.get('password').hasError('required')">
                    New Password is required
                </mat-error>                
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Confirm Password</mat-label>
                <input type="password" matInput formControlName="confirmPassword" (blur)="checkIsPasswordMatch()">
                <mat-icon matSuffix class="secondary-text">account_balance</mat-icon>
                <mat-error *ngIf="resetPasswordForm.get('confirmPassword').hasError('required')">
                    Confirm Password is required
                </mat-error>
                <mat-error *ngIf="!isPasswordMatch">
                    Password and Confirm Password must match
                </mat-error>
            </mat-form-field><br> 

            <div fxLayout="row" fxLayoutAlign="start center" *ngIf="serverError">
                <p class="server-error">{{ serverError }}</p>
            </div>

            <div fxLayout="row" fxLayoutAlign="start center" class="mt-8">
                <button type="submit" mat-raised-button color="accent" class="subscribe-button mr-8" aria-label="SUBMIT"
                [disabled]="resetPasswordForm.invalid">
                    Reset
                </button>
                <button mat-raised-button type="button" (click)="cancel()">
                    Cancel
                </button>
            </div>

        </form>

        </div>

    </div>

</div>


