<div id="ngx-datatable" class="page-layout simple fullwidth">

    <!-- HEADER -->
    <div class="header accent p-24 h-50" fxLayout="row" fxLayoutAlign="center center" fxLayout.gt-xs="row"
        fxLayoutAlign.gt-xs="space-between center">
        <div fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="column" fxLayoutAlign.gt-xs="center start">
            <!-- <div fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="secondary-text s-18">home</mat-icon>
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                <span class="secondary-text">Documentation</span>
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                <span class="secondary-text">Datatables</span>
            </div> -->
            <div class="h1">Product</div>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content p-24">

        <div fxLayout="row" fxLayoutAlign="start center">
            <button class="mr-8 mb-12" color="accent" mat-raised-button (click)="goToCreateProduct()" type="button">
                Add Product
            </button>
        </div>

        <ngx-datatable class="material" [rows]="rows" [loadingIndicator]="loadingIndicator" [columnMode]="'force'"
            [headerHeight]="48" [footerHeight]="56" [rowHeight]="'auto'" [scrollbarH]="true" [reorderable]="reorderable"
            [columns]="columns" [externalPaging]="true" [count]="paginationInfo?.totalCount"
            [offset]="paginationInfo?.currentPage" [limit]="paginationInfo?.pageSize" (page)="getNextPage($event)"
            (activate)="userRowSelect($event)">

            <!-- <ngx-datatable-column [width]="48"
                                  [canAutoResize]="false"
                                  [sortable]="false">
                <ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected"
                             let-selectFn="selectFn">
                    <mat-checkbox [checked]="allRowsSelected" (change)="selectFn(!allRowsSelected)"></mat-checkbox>
                </ng-template>

                <ng-template ngx-datatable-cell-template let-value="value" let-isSelected="isSelected"
                             let-onCheckboxChangeFn="onCheckboxChangeFn">
                    <mat-checkbox [checked]="isSelected" (change)="onCheckboxChangeFn($event)"></mat-checkbox>
                </ng-template>
            </ngx-datatable-column>            

            <ngx-datatable-column name="Name" prop="fName"></ngx-datatable-column>

            <ngx-datatable-column name="Last Name" prop="lName"></ngx-datatable-column>

            <ngx-datatable-column name="Email" prop="email"></ngx-datatable-column>

            <ngx-datatable-column name="Role" prop="role"></ngx-datatable-column> -->
        </ngx-datatable>

    </div>

</div>