<mat-dialog-content>
	<p>
		{{message}}
	</p>
</mat-dialog-content>
<mat-dialog-actions align="center">
    <button mat-raised-button mat-dialog-close *ngIf="showCancelButton" tabindex="-1">{{cancelButtonText}}</button>
	<button mat-raised-button color="accent" (click)="onConfirmClick()" tabindex="1">{{confirmButtonText}}</button>	
</mat-dialog-actions>