<div fxLayout="row" fxLayoutAlign="start center">
    <button class="mt-8 mr-8 mb-12" color="accent" 
        mat-raised-button type="button" (click)="downloadInvoiceAsPdf()">
        Download
    </button>           
</div>

<div id="invoice" class="modern page-layout blank" fxLayout="row">

    <div class="invoice-container mb-24" #invoiceElem>
   
        <div class="card" *ngIf="isInvoiceLoaded">

            <div class="header" fxLayout="row" fxLayoutAlign="space-between start">

                <div class="ids" fxLayout="column">

                    <div fxLayout="row" class="seller" fxLayoutAlign="start center">

                        <div class="logo">
                            <img src="assets/images/logos/LibertyGroup.png">
                        </div>

                        <div class="divider"></div>

                        <div class="detail">
                            <div class="title">{{invoice.from.title}}</div>
                            <div *ngIf="invoice?.from.address" class="address">
                                {{invoice.from.address}}
                            </div>
                            <div *ngIf="invoice?.from.phone" class="phone">
                                <span>Phone:</span>
                                {{invoice.from.phone}}
                            </div>
                            <div *ngIf="invoice?.from.email" class="email">
                                <span>Email:</span>
                                {{invoice.from.email}}
                            </div>
                            <div *ngIf="invoice?.from.website" class="website">
                                <span>Web:</span>
                                {{invoice.from.website}}
                            </div>
                        </div>
                    </div>

                    <div fxLayout="row" class="client" fxLayoutAlign="start center">
                        <div class="label" fxLayout="row" fxLayoutAlign="end center">
                            <div>BILLED TO</div>
                        </div>

                        <div class="divider"></div>

                        <div class="detail">
                            <div class="title">{{invoice.client.title}}</div>
                            <div *ngIf="invoice?.client.address" class="address">
                                {{invoice.client.address}}
                            </div>
                            <div *ngIf="invoice?.client.phone" class="phone">
                                <span>Phone:</span>
                                {{invoice.client.phone}}
                            </div>
                            <div *ngIf="invoice?.client.email" class="email">
                                <span>Email: {{invoice.client.email}}</span>
                            </div>
                            <!-- <div *ngIf="invoice?.client.website" class="website">
                                <span>Web:</span>
                                {{invoice.client.website}}
                            </div> -->
                        </div>
                    </div>
                </div>

                <table class="summary">
                    <tr class="code">
                        <td class="label">INVOICE</td>
                        <td class="value">{{invoice.invoiceNumber}}</td>
                    </tr>

                    <tr>
                        <td class="label">INVOICE DATE</td>
                        <td class="value">{{invoice.issueDate | date: 'MM/dd/yyyy'}}</td>
                    </tr>

                    <tr>
                        <td class="label">DUE DATE</td>
                        <td class="value">{{invoice.dueDate | date: 'MM/dd/yyyy'}}</td>
                    </tr>

                    <tr>
                        <td class="label">TOTAL DUE</td>
                        <td class="value">{{invoice.totalAmount | currency:'USD':'symbol'}}</td>
                    </tr>
                </table>
            </div>

            <div class="content">
                <table class="simple invoice-table">
                    <thead>
                        <tr>
                            <th>SERVICE</th>   
                            <th class="text-right">RATE</th>                            
                            <th class="text-right">LINE TOTAL</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="title">{{invoice.invoiceService.title}}</div>
                                <div class="detail">{{invoice.invoiceService.description}}</div>
                            </td>                           
                            <td class="text-right">
                               <span>{{invoice.invoiceService.rate | currency:'USD':'symbol'}}</span><br>
                                <span>+HST ({{invoice.client.provinceDetails.abbreviation}})</span>
                            </td>                           
                            <td class="text-right">
                                {{invoice.invoiceService.total | currency:'USD':'symbol'}}
                            </td>
                        </tr>
                    </tbody>
                </table>

                <table class="simple invoice-table-footer">
                    <tbody>
                        <tr class="subtotal">
                            <td>SUBTOTAL</td>
                            <td>{{invoice.invoiceService.total | currency:'USD':'symbol'}}</td>
                        </tr>
                        <tr class="tax">
                            <td>HST ({{invoice.client.provinceDetails.abbreviation}}) ({{ invoice.client.provinceDetails.hstPercent }}%)</td>
                            <td>{{ invoice.hstAmount | currency:'USD':'symbol'}}</td>
                        </tr>                      
                        <tr class="total">
                            <td>TOTAL</td>
                            <td>{{invoice.totalAmount | currency:'USD':'symbol'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="footer">
                <div class="note">Please pay within 10 days. Thank you for your business.</div>
                <div fxLayout="row" fxLayoutAlign="start start">
                    <div class="logo">
                        <img src="assets/images/logos/favicon.png">
                    </div>
                    <div class="small-note">
                        Please contact relationship manager if you have any queries regarding the invoice.
                    </div>
                </div>
            </div>            

        </div>        

    </div>

</div>