<div class="navbar-top" [ngClass]="fuseConfig.layout.navbar.secondaryBackground">

    <div class="logo">
        <img class="logo-icon" src="assets/images/logos/favicon.png">
        <span class="logo-text secondary-text">LFG</span>
    </div>

    <div class="buttons">

        <button mat-icon-button class="toggle-sidebar-folded"
                (click)="toggleSidebarFolded()" fxHide.lt-lg>
            <mat-icon class="secondary-text">menu</mat-icon>
        </button>

        <button mat-icon-button class="toggle-sidebar-opened"
                (click)="toggleSidebarOpened()" fxHide.gt-md>
            <mat-icon class="secondary-text">arrow_back</mat-icon>
        </button>

    </div>

</div>


<div class="navbar-scroll-container" [ngClass]="fuseConfig.layout.navbar.primaryBackground"
     fusePerfectScrollbar [fusePerfectScrollbarOptions]="{suppressScrollX: true}">

    <div class="user" fxLayout="column" [ngClass]="fuseConfig.layout.navbar.secondaryBackground">

        <div class="h3 username">{{ loggedInUser?.profile.given_name }} {{ loggedInUser?.profile.family_name }}</div>
        <div class="h5 email hint-text mt-8">{{ loggedInUser?.profile.email }}</div>

        <!-- <mat-form-field appearance="outline" *ngIf="loggedInUser && isRoleList">  
            <mat-select [(ngModel)]="selectedRole">
              <mat-option *ngFor="let role of loggedInUserRoles" [value]="role.role">
                {{ role.role }}
              </mat-option>
            </mat-select>
          </mat-form-field> -->
          <div class="mt-8" fxFlex="0 1 auto" *ngIf="loggedInUser && isRoleList" fxLayout="row" fxLayoutAlign="start center">

            <button mat-button [matMenuTriggerFor]="userMenu"
                    class="user-button">
                    <div fxLayout="row" fxLayoutAlign="center center">
                        <span>{{ selectedRole?.role }}</span>
                        <mat-icon class="s-16">keyboard_arrow_down</mat-icon>
                    </div>                
            </button>

            <mat-menu #userMenu="matMenu" [overlapTrigger]="false">               

                <button mat-menu-item class="" *ngFor="let role of loggedInUserRoles"
                    (click)="roleSelectionChanged(role)">
                    <span>{{ role.role }}</span>
                </button>

            </mat-menu>
        </div>

        <div class="h5 email hint-text mt-6" *ngIf="!isRoleList">{{ selectedRole?.role }}</div>
        <div class="avatar-container" [ngClass]="fuseConfig.layout.navbar.primaryBackground">
            <img class="avatar" src="assets/images/avatars/Velazquez.jpg">
        </div>

    </div>

    <div class="navbar-content">
        <fuse-navigation class="material2" layout="vertical"></fuse-navigation>
    </div>

</div>
