<app-calendar *ngIf="widget.type === 'calender'"></app-calendar><br>

<div *ngIf="widget.type === 'to-do-list'">
    <div class="header accent h-50 mt-minus-16" fxLayout="row" fxLayoutAlign="center center" fxLayout.gt-xs="row"
        fxLayoutAlign.gt-xs="space-between center">
        <div fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="column" fxLayoutAlign.gt-xs="center start">
            <p class="task h1">My Tasks</p>
        </div>
    </div>
    <div class="p-24 dashboard-task">
        <app-task-list [showCompletedTasks]="false" (openTask)="editTask($event)">
        </app-task-list>
    </div>
</div>
<!-- <app-summary-cards *ngIf="widget.type === 'summary-cards'"></app-summary-cards> -->
<!-- <app-leads-overview *ngIf="widget.type === 'leads-overview'"></app-leads-overview> -->
<!-- <app-to-do-list *ngIf="widget.type === 'to-do-list'"></app-to-do-list> -->
<!-- <app-task-list *ngIf="widget.type === 'to-do-list'"></app-task-list> -->
<!-- <app-scrum-board *ngIf="widget.type === 'scrum-board'"></app-scrum-board> -->