<div id="forms" class="page-layout simple fullwidth" fxLayout="column">  

    <!-- CONTENT -->
    <div class="content">  

        <mat-tab-group dynamicHeight>

            <mat-tab label="Service Details">
                
                <app-add-edit-service-product  
                    [selectedLeadService]="selectedLeadService"
                    (back)="cancel()">
                </app-add-edit-service-product>

            </mat-tab>

            <mat-tab *appHasClaim="'claim:System Admin:Lead Admin:Relationship Manager:Product Manager:Product Employee'" label="Tasks">
                <app-task 
                [leadId]="leadId" 
                [serviceId]="this.selectedLeadService.id"></app-task>
            </mat-tab>

            <mat-tab *appHasClaim="'claim:System Admin:Lead Admin:Relationship Manager:Product Manager:Product Employee'" label="Attachments">                     

                <app-attachment [leadId]="leadId" [serviceId]="this.selectedLeadService.id"></app-attachment>

            </mat-tab>

            <div *appHasClaim="'claim:System Admin:Lead Admin:Relationship Manager:Product Manager:Product Employee'">
                <mat-tab label="Invoice" *ngIf="selectedServiceRefundAmount && selectedServiceRefundAmount > 0">
                    <!-- <app-invoice [leadServiceOfferedId]="this.selectedLeadService.id"></app-invoice> -->
                    <app-invoice-list [leadServiceOfferedId]="this.selectedLeadService.id"></app-invoice-list>
                </mat-tab>
            </div>

            <!-- <mat-tab label="Family Tax">
               <app-add-edit-ftcrm [leadServiceOfferedId]="this.selectedLeadService.id"></app-add-edit-ftcrm>
            </mat-tab> -->

            <div *appHasClaim="'claim:System Admin:Lead Admin:Relationship Manager:Product Manager:Product Employee'">
                <mat-tab label="Payment" *ngIf="selectedServiceRefundAmount && selectedServiceRefundAmount > 0">
                    <app-payment [leadServiceOfferedId]="this.selectedLeadService.id"></app-payment>
                 </mat-tab>
            </div>            

             <mat-tab *appHasClaim="'claim:System Admin:Lead Admin:Relationship Manager:Product Manager:Product Employee'" label="History">
                <app-history [leadId]="leadId" [serviceId]="this.selectedLeadService.id"></app-history>
            </mat-tab>

        </mat-tab-group>        
    </div>
    <!-- / CONTENT -->

</div>