<div id="ngx-datatable" class="page-layout simple fullwidth">   

    <!-- CONTENT -->
    <div class="content"> 

        <div class="mat-card mat-elevation-z4 p-24" fxLayout="column" fxLayoutAlign="start"
        fxFlex="1 0 auto">
            <div fxLayout="row" fxLayoutAlign="start center" *ngIf="!isNewTask">
                <button class="mr-8 mb-12" color="accent" 
                    mat-raised-button type="button"
                    (click)="addTask()">
                    Add Task
                </button>           
            </div>

            <app-create-task *ngIf="isNewTask" 
                (back)="showTaskList()"
                [leadId]="leadId"
                [openedTask]="openedTask"
                [serviceId]="serviceId"></app-create-task>
            <app-task-list *ngIf="isTaskList"
                [leadId]="leadId"
                (openTask)="openTask($event)"
                [serviceId]="serviceId"></app-task-list>
        </div>

    </div>

</div>
