<div id="forms" class="page-layout simple fullwidth" fxLayout="column" *ngIf="!selectedLeadService">  

    <!-- CONTENT -->
    <div class="content" [ngClass]="{ 'pt-24': !isNewServiceOrProduct}">  

        <div fxLayout="row" fxLayoutAlign="start center" *ngIf="!isNewServiceOrProduct">
            <button class="mr-8 mb-12" mat-raised-button (click)="goToAddServiceOrProduct()" type="button" color="accent">
                Add Service/Product
            </button>           
        </div>

        <!-- <ngx-datatable
            *ngIf="!isNewServiceOrProduct"
            class="material"
            [rows]="rows"
            [loadingIndicator]="loadingIndicator"
            [columnMode]="'force'"
            [headerHeight]="48"
            [footerHeight]="56"
            [rowHeight]="'auto'"
            [scrollbarH]="true"
            [reorderable]="reorderable"
            [columns]="columns"          
            [externalPaging]="true"
            [count]="paginationInfo?.totalCount"
            [offset]="paginationInfo?.currentPage"
            [limit]="paginationInfo?.pageSize"
            (page)="getNextPage($event)"
            (activate)="userRowSelect($event)"></ngx-datatable>         -->


            <ngx-datatable
            *ngIf="!isNewServiceOrProduct"
            class="material"
            [rows]="rows"
            [loadingIndicator]="loadingIndicator"
            [columnMode]="'force'"
            [headerHeight]="48"
            [footerHeight]="56"
            [rowHeight]="'auto'"
            [scrollbarH]="true"
            [reorderable]="reorderable"                    
            [externalPaging]="true"
            [count]="paginationInfo?.totalCount"
            [offset]="paginationInfo?.currentPage"
            [limit]="paginationInfo?.pageSize"
            (page)="getNextPage($event)"
            (activate)="userRowSelect($event)">


            <ngx-datatable-column name="serviceOffered.name">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                  <span (click)="sort()">Product/Service</span>
                </ng-template>
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    {{ row.serviceOffered.name }}          
                </ng-template>
              </ngx-datatable-column>
                  
              <ngx-datatable-column name="description">
                  <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                    <span (click)="sort()">Description</span>
                  </ng-template>
                  <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    {{ value }}
                  </ng-template>
                </ngx-datatable-column>
      
                <ngx-datatable-column name="assignedTo">
                  <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                    <span (click)="sort()">Assigned To</span>
                  </ng-template>
                  <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                   {{ row.user?.fName }}
                  </ng-template>
                </ngx-datatable-column>  

                <ngx-datatable-column name="assignedStatus">
                    <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                      <span (click)="sort()">Assigned Status</span>
                    </ng-template>
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                      {{ value }}
                    </ng-template>
                  </ngx-datatable-column>
                  
                  <!-- <ngx-datatable-column name="ftcrm.amount">
                    <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                      <span (click)="sort()">Refund Amount</span>
                    </ng-template>
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        {{ row.ftcrm?.amount }}          
                    </ng-template>
                  </ngx-datatable-column> -->

                  <ngx-datatable-column name="ftcrm.ftCrmUniqueId">
                    <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                      <span (click)="sort()">FTCrm Id</span>
                    </ng-template>
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        {{ row.ftcrm?.ftCrmUniqueId }}          
                    </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-column name="ftcrm.status">
                    <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                      <span (click)="sort()">FTCrm Status</span>
                    </ng-template>
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        {{ row.ftcrm?.status }}          
                    </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-column name="ftcrm.reason">
                    <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                      <span (click)="sort()">Integration Message</span>
                    </ng-template>
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        {{ row.ftcrm?.reason }}          
                    </ng-template>
                  </ngx-datatable-column>                
                
                
                <ngx-datatable-column *appHasClaim="'claim:System Admin:Relationship Manager'" [width]=300>
                  <ng-template let-column="column" ngx-datatable-header-template>                    
                    <span>Action</span>                    
                  </ng-template>
                  <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <button [disabled]="row.disableTrigger" mat-raised-button (click)="triggerIntegration(row, $event)">
                      Trigger Integration
                    </button>
                      <button class="ml-8" [disabled]="row.disableTrigger" mat-raised-button (click)="removeService(row, $event)">
                          Remove
                      </button>               
                  </ng-template>
                </ngx-datatable-column> 
            </ngx-datatable>

    </div>
    <!-- / CONTENT -->

</div>

<app-add-edit-service-product
    *ngIf="isNewServiceOrProduct"
    (back)="showServiceListing()">
</app-add-edit-service-product>

<app-lead-service-tabs 
    *ngIf="selectedLeadService"     
    (back)="showServiceListing()"
    [selectedServiceRefundAmount]="selectedServiceRefundAmount"
    [selectedLeadService]="selectedLeadService">
</app-lead-service-tabs>