.w-22{
    width: 22%;
}
.w-47{
    width: 47%;
}
.w-12{
    width: 12%;
}
.w-90 {
    width: 90%;
}

::ng-deep th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
    padding-left: 0 !important;
}
.mt-minus-10 {
    margin-top: -10px !important;
}