.w-22{
    width: 22%;
}
.w-12{
    width: 12%;
}
.w-90 {
    width: 90%;
}

::ng-deep th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
    padding-left: 0 !important;
}
.mt-minus-10 {
    margin-top: -10px !important;
}
.align{
    height: 1.6rem;
}
.checkbox{
    padding-left: 1%;
    width: 80%;
    font-weight: 600;
}
.p-3{
    padding-top: 3%;
}
.w-4{
    width: 290%;
}
.p-1{
    padding-top: 1%;
}