
<div id="forms" class="page-layout simple fullwidth" fxLayout="column">
    <div class="content p-24">
        <div class="dashboard-option" *ngIf="isDashboardOPtionsPanel" [@slideInOut]>
            <div class="row">
                <div class="col-lg-12">
                    <mat-checkbox class="mr-8" *ngFor="let option of dashboardOPtions" 
                        [(ngModel)]="option.IsChecked" (change)="dashboardOptionChanged()">
                        {{ option.Name }}
                    </mat-checkbox>
                </div>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="end start" class="mt-8 mb-8">
            <button mat-raised-button (click)="toggleDashboardOptionPanel()">Dashboard Options</button>
        </div>
        <app-dashboard-grid [dashboardOptionEvent]="dashboardOptionEventSubject.asObservable()"></app-dashboard-grid>
    </div>
  </div>