<div id="forms" class="page-layout simple fullwidth" fxLayout="column">

    <!-- HEADER -->
    <div class="header accent p-24 h-50" fxLayout="row" fxLayoutAlign="start center">
        <div fxLayout="column" fxLayoutAlign="center start">
            <!-- <div fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="secondary-text s-18">home</mat-icon>
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                <span class="secondary-text">User Interface</span>
            </div> -->
            <div class="h1">Create Product</div>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content p-24">

        <div class="mb-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row">

            <form class="mat-card mat-elevation-z4 p-24 mr-24" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto"
                name="form" [formGroup]="productForm" (submit)="submitForm()" novalidate="">

                <!-- <div class="h2 mb-24">Reactive Form Example</div> -->

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                    <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
                        <mat-label>Code</mat-label>
                        <input matInput formControlName="code">
                        <mat-icon matSuffix class="secondary-text">markunread_mailbox</mat-icon>
                        <mat-error>Code is required!</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
                        <mat-label>Name</mat-label>
                        <input matInput formControlName="name">
                        <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                        <mat-error>Name is required!</mat-error>
                    </mat-form-field>


                </div>


                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                    <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
                        <mat-label>Category</mat-label>
                        <mat-select formControlName="category">
                            <mat-option *ngFor="let category of categorys" [value]="category">
                                {{ category }}
                            </mat-option>
                        </mat-select>
                        <mat-icon matSuffix class="secondary-text">category</mat-icon>
                        <mat-error>Category is required!</mat-error>
                    </mat-form-field>
                </div>


                <div fxLayout="row" fxLayoutAlign="start center" class="mt-8">
                    <button class="mr-8" mat-raised-button type="submit" color="accent" [disabled]="!productForm.valid">
                        Add
                    </button>
                    <button mat-raised-button type="button" (click)="cancel()">
                        Cancel
                    </button>
                </div>
            </form>
        </div>

    </div>
    <!-- / CONTENT -->

</div>