<h2 mat-dialog-title>{{ data.title }}</h2>

<mat-dialog-content class="mat-typography"> 

  <p>{{ data.message }}</p>

</mat-dialog-content>

<mat-dialog-actions align="center">
  <button mat-raised-button color="accent" mat-dialog-close>Ok</button>  
</mat-dialog-actions>