<div id="forms" class="page-layout simple fullwidth" fxLayout="column">

    <!-- HEADER -->
    <div class="header accent p-24 h-50" fxLayout="row" fxLayoutAlign="start center">
        <div fxLayout="column" fxLayoutAlign="center start">
            <!-- <div fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="secondary-text s-18">home</mat-icon>
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                <span class="secondary-text">User Interface</span>
            </div> -->
            <div class="h1">Edit Store</div>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content p-24">

        <div class="mb-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row">

            <form class="mat-card mat-elevation-z4 p-24 mr-24" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto"
                name="form" [formGroup]="storeForm" (submit)="submitForm()" novalidate="">

                <!-- <div class="h2 mb-24">Reactive Form Example</div> -->

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                    <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
                        <mat-label>Code</mat-label>
                        <input matInput formControlName="code">
                        <mat-icon matSuffix class="secondary-text">qr_code</mat-icon>
                        <mat-error>Code is required!</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
                        <mat-label>Name</mat-label>
                        <input matInput formControlName="name">
                        <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                        <mat-error>Name is required!</mat-error>
                    </mat-form-field>

                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                    <mat-form-field appearance="outline" fxFlex="100">
                        <mat-label>Address</mat-label>
                        <textarea matInput formControlName="address"></textarea>
                        <mat-error>Address is required!</mat-error>
                    </mat-form-field>

                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                    <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
                        <mat-label>Postal Code</mat-label>
                        <input placeholder="A1A 1A1" matInput formControlName="zipcode">
                        <mat-icon matSuffix class="secondary-text">markunread_mailbox</mat-icon>
                        <mat-error *ngIf="storeForm.get('zipcode').hasError('required') && storeForm.get('zipcode').touched">
                            Postal Code is required!
                        </mat-error>
                        <mat-error *ngIf="storeForm.get('zipcode').hasError('pattern') && storeForm.get('zipcode').touched">
                            Postal Code is not valid!
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
                        <mat-label>City</mat-label>
                        <input matInput formControlName="city">
                        <mat-icon matSuffix class="secondary-text">business</mat-icon>
                        <mat-error>City is required!</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
                        <mat-label>Province</mat-label>
                        <mat-select formControlName="province" class="align">
                            <mat-option *ngFor="let province of provinces" [value]="province.name">
                                {{ province.name }}
                            </mat-option>
                        </mat-select>
                        <mat-icon matSuffix class="secondary-text">location_city</mat-icon>
                        <mat-error>Province is required!</mat-error>
                    </mat-form-field>
                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                    <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
                        <mat-label>Country</mat-label>
                        <input matInput formControlName="country">
                        <mat-icon matSuffix class="secondary-text">outlined_flag</mat-icon>
                        <mat-error>Country is required!</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
                        <mat-label>Parent District</mat-label>
                        <mat-select formControlName="parentdistrict" class="align">
                            <mat-option *ngFor="let parentdistrict of district" [value]="parentdistrict">
                                {{ parentdistrict }}
                            </mat-option>
                        </mat-select>
                        <mat-icon matSuffix class="secondary-text">location_city</mat-icon>
                        <mat-error>Parent District is required!</mat-error>
                    </mat-form-field>

                </div>

                <div fxLayout="row" fxLayoutAlign="start center" class="mt-8">
                    <button class="mr-8" mat-raised-button type="submit" color="accent" [disabled]="!storeForm.valid">
                        Update
                    </button>
                    <button mat-raised-button type="button" (click)="cancel()">
                        Cancel
                    </button>
                </div>
            </form>
        </div>

    </div>
    <!-- / CONTENT -->

</div>