<fuse-widget class="widget" fxLayout="column" fxFlex="100" fxFlex.gt-sm="100">

    <!-- Front -->
    <div class="fuse-widget-front">
        <div class="h3 px-16 py-24">
            Leads Overiew
        </div>

        <mat-divider></mat-divider>

        <div class="h-400 gridster-item-content">
            <ngx-charts-pie-chart
                *fuseIfOnDom
                [scheme]="leadsOveriewWidget.scheme"
                [results]="leadsOveriewWidget.value"
                [legend]="leadsOveriewWidget.legend"
                [explodeSlices]="leadsOveriewWidget.explodeSlices"
                [labels]="leadsOveriewWidget.labels"
                [doughnut]="leadsOveriewWidget.doughnut"
                [gradient]="leadsOveriewWidget.gradient"
                (select)="leadsOveriewWidget.onSelect($event)">
            </ngx-charts-pie-chart>
        </div>

    </div>
                            <!-- / Front -->
</fuse-widget>