<ng-container *ngIf="isTasksLoaded">
    <div *ngIf="tasks?.length === 0" fxLayout="column" fxLayoutAlign="start" fxFlexFill>
        <br><div class="no-todos-text">There are no tasks!</div>
    </div>
    <div class="app-task-list" ngxDroppable [model]="tasks" (out)="onDrop($event)" [@animateStagger]="{value:'50'}">
        <app-task-list-item class="app-task-list-item has-handle"
                        *ngFor="let task of tasks" [task]="task"
                        ngxDraggable
                        [model]="task"
                        (click)="readTodo(task)"
                        [ngClass]="{'current-todo':task?.id == currentTask?.id}"
                        [@animate]="{value:'*',params:{y:'100%'}}">
        </app-task-list-item>
    </div>

    <div *ngIf="this.tasks.length < this.paginationInfo.totalCount" fxLayout="row" 
          fxLayoutAlign="center center" class="mt-8">
        <button class="mr-8 mb-12" color="accent" mat-raised-button type="button"
            (click)="getNextPage()">
            Load More
        </button>  
    </div>
</ng-container>

