app-task-list {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    position: relative;
    padding: 0;
    margin-left: -24px !important;
    margin-right: -24px !important;
    border-right: 1px solid;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    

    .no-todos-text {
        text-align: left;
        display: flex;
    line-height: 1;
    height: 56px;
    padding: 0 24px;
    font-size: 14px;
    }
}
