<div id="error-404" fxLayout="column" fxLayoutAlign="center center">

    <div class="content" fxLayout="column" fxLayoutAlign="center center">

        <div class="error-code">401</div>

        <div class="message">You are unauthorized to access these details.</div>        

        <a class="back-link" [routerLink]="'/dashboard'">Go back to dashboard</a>

    </div>

</div>