<div id="snackbar">{{ snackbarMessage }}</div>

<div class="container box-container full-font-family">
    <h2 class="form-title">Contact Form</h2>
    <form  [formGroup]="leadForm" *ngIf="isFormLoaded" (submit)="submitForm()" novalidate="">
      <h4 class="basic-header">Basic Details</h4>
      <fieldset>

        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="fName">First Name</label>
            <input type="text" class="form-control" id="fName" placeholder="Enter First Name" 
                formControlName="fName" name="fName"
                [ngClass]="{'is-invalid': leadForm.controls['fName'].errors && leadForm.controls['fName'].touched}">
            <div class="invalid-feedback"
            *ngIf="leadForm.controls['fName'].hasError('required') 
                          && (leadForm.controls['fName'].dirty 
                              || leadForm.controls['fName'].touched
                              || isFormSubmit)">
                Please enter first name.
            </div>
            <div class="invalid-feedback"
                *ngIf="leadForm.controls['fName'].hasError('pattern') 
                          && (leadForm.controls['fName'].dirty 
                              || leadForm.controls['fName'].touched
                              || isFormSubmit)">
                First Name is not valid.
            </div>
            <div class="invalid-feedback"
                *ngIf="leadForm.controls['fName'].hasError('maxlength') 
                          && (leadForm.controls['fName'].dirty 
                              || leadForm.controls['fName'].touched
                              || isFormSubmit)">
                First Name cannot exceed 20 characters.
            </div>
          </div>
          <div class="form-group col-md-4">
            <label for="mName">Middle Name</label>
            <input type="text" class="form-control" id="mName" placeholder="Enter Middle Name" 
                formControlName="mName" name="mName"
                [ngClass]="{'is-invalid': leadForm.controls['mName'].errors && leadForm.controls['mName'].touched}">            
            <div class="invalid-feedback"
                *ngIf="leadForm.controls['mName'].hasError('pattern') 
                          && (leadForm.controls['mName'].dirty 
                              || leadForm.controls['mName'].touched
                              || isFormSubmit)">
                Middle Name is not valid.
            </div>
            <div class="invalid-feedback"
                *ngIf="leadForm.controls['mName'].hasError('maxlength') 
                          && (leadForm.controls['mName'].dirty 
                              || leadForm.controls['mName'].touched
                              || isFormSubmit)">
                Middle Name cannot exceed 20 characters.
            </div>
          </div>
          <div class="form-group col-md-4">
            <label for="lName">Last Name</label>
            <input type="text" class="form-control" id="lName" placeholder="Enter Last Name" 
                formControlName="lName" name="lName"
                [ngClass]="{'is-invalid': leadForm.controls['lName'].errors && leadForm.controls['lName'].touched}">
            <div class="invalid-feedback"
                *ngIf="leadForm.controls['lName'].hasError('required') 
                          && (leadForm.controls['lName'].dirty 
                              || leadForm.controls['lName'].touched
                              || isFormSubmit)">
                  Please enter last name.
            </div>
            <div class="invalid-feedback"
                *ngIf="leadForm.controls['lName'].hasError('pattern') 
                          && (leadForm.controls['lName'].dirty 
                              || leadForm.controls['lName'].touched
                              || isFormSubmit)">
                Last Name is not valid.
            </div>
            <div class="invalid-feedback"
                *ngIf="leadForm.controls['lName'].hasError('maxlength') 
                          && (leadForm.controls['lName'].dirty 
                              || leadForm.controls['lName'].touched
                              || isFormSubmit)">
                Last Name cannot exceed 20 characters.
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" 
                formControlName="email" placeholder="Enter email" name="email"
                [ngClass]="{'is-invalid': leadForm.controls['email'].errors && leadForm.controls['email'].touched}">
            <div class="invalid-feedback"
                *ngIf="leadForm.controls['email'].hasError('required') 
                          && (leadForm.controls['email'].dirty 
                              || leadForm.controls['email'].touched
                              || isFormSubmit)">
                  Please enter email.
            </div>  
            <div class="invalid-feedback"
            *ngIf="leadForm.controls['email'].hasError('pattern') 
                          && (leadForm.controls['email'].dirty 
                              || leadForm.controls['email'].touched
                              || isFormSubmit)">
                  Please enter valid email.
            </div>  
            <div class="invalid-feedback"
            *ngIf="leadForm.controls['email'].errors?.leadEmailExist">
                  User with same Email Id already exists in the system.
            </div>
          </div>
          <div class="form-group col-md-6">
            <label for="email">Address</label>
            <textarea rows="1" class="form-control" id="address" 
              formControlName="address" placeholder="Enter address" name="address"
              [ngClass]="{'is-invalid': leadForm.controls['address'].errors && leadForm.controls['address'].touched}"></textarea>           
            <div class="invalid-feedback"
            *ngIf="leadForm.controls['address'].hasError('required') 
                          && (leadForm.controls['address'].dirty 
                              || leadForm.controls['address'].touched
                              || isFormSubmit)">
                  Please enter address.
            </div>              
          </div>
        </div> 

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="city">City</label>
            <input type="text" class="form-control" id="city" placeholder="Enter city" 
                formControlName="city" name="city"
                [ngClass]="{'is-invalid': leadForm.controls['city'].errors && leadForm.controls['city'].touched}">
            <div class="invalid-feedback"
            *ngIf="leadForm.controls['city'].hasError('required') 
                          && (leadForm.controls['city'].dirty 
                              || leadForm.controls['city'].touched
                              || isFormSubmit)">
                  Please enter city.
            </div>
            <div class="invalid-feedback"
            *ngIf="leadForm.controls['city'].hasError('pattern') 
                          && (leadForm.controls['city'].dirty 
                              || leadForm.controls['city'].touched
                              || isFormSubmit)">
                  City is not valid.
            </div>
            <div class="invalid-feedback"
                *ngIf="leadForm.controls['city'].hasError('maxlength') 
                          && (leadForm.controls['city'].dirty 
                              || leadForm.controls['city'].touched
                              || isFormSubmit)">
                City cannot exceed 30 characters.
            </div>
          </div>
          <div class="form-group col-md-6">
            <label for="province">Select Province</label>
            <select class="form-control" id="province" formControlName="province" name="province"
            [ngClass]="{'is-invalid': leadForm.controls['province'].errors && leadForm.controls['province'].touched}">
              <option *ngFor="let province of provinces" [ngValue]="province.id"> {{ province.name }}</option>              
            </select>
            <div class="invalid-feedback"
                *ngIf="leadForm.controls['province'].hasError('required') 
                          && (leadForm.controls['province'].dirty 
                              || leadForm.controls['province'].touched
                              || isFormSubmit)">
                  Please select province.
            </div>
          </div>          
        </div>

        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="zipcode">Postal Code</label>
            <input type="text" class="form-control" id="zipcode" placeholder="A1A 1A1" 
                formControlName="zipcode" name="zipcode"
                [ngClass]="{'is-invalid': leadForm.controls['zipcode'].errors && leadForm.controls['zipcode'].touched}">
            <div class="invalid-feedback"
                *ngIf="leadForm.controls['zipcode'].hasError('required') 
                          && (leadForm.controls['zipcode'].dirty 
                              || leadForm.controls['zipcode'].touched
                              || isFormSubmit)">
                  Please enter postal code.
            </div>
            <div class="invalid-feedback"
                *ngIf="leadForm.controls['zipcode'].hasError('pattern') 
                          && (leadForm.controls['zipcode'].dirty 
                              || leadForm.controls['zipcode'].touched
                              || isFormSubmit)">
                  Postal code is not valid.
            </div>
          </div>
          <div class="form-group col-md-4">
            <label for="phoneNumber">Phone Number</label>
            <input type="text" class="form-control" id="phoneNumber" placeholder="Enter Phone Number" 
                formControlName="phoneNumber" name="phoneNumber"
                [ngClass]="{'is-invalid': leadForm.controls['phoneNumber'].errors && leadForm.controls['phoneNumber'].touched}">
            <div class="invalid-feedback"
                *ngIf="leadForm.controls['phoneNumber'].hasError('required') 
                          && (leadForm.controls['phoneNumber'].dirty 
                              || leadForm.controls['phoneNumber'].touched
                              || isFormSubmit)">
                  Please enter phone number.
            </div>
            <div class="invalid-feedback"
                *ngIf="leadForm.controls['phoneNumber'].hasError('pattern') 
                          && (leadForm.controls['phoneNumber'].dirty 
                              || leadForm.controls['phoneNumber'].touched
                              || isFormSubmit)">
                Phone number is not valid.
            </div>
            <div class="invalid-feedback"
            *ngIf="leadForm.controls['phoneNumber'].errors?.leadPhoneExist">
                Lead with same phone number already exists in the system.
            </div>            
          </div>   
          <div class="form-group col-md-4">
            <label for="source">How did you hear about us?</label>           
            <select class="form-control" id="source" formControlName="source" name="source"
                [ngClass]="{'is-invalid': leadForm.controls['source'].errors && leadForm.controls['source'].touched}">
                <option *ngFor="let sr of sources" [ngValue]="sr"> {{ sr }}</option>              
            </select>
            <div class="invalid-feedback"
                *ngIf="leadForm.controls['source'].hasError('required') 
                          && (leadForm.controls['source'].dirty 
                              || leadForm.controls['source'].touched
                              || isFormSubmit)">
                  Please enter source.
            </div>
          </div>          
        </div>

        <div class="form-row mb-3">
          <div class="form-group col-md-6">
            <label for="existingClient">Are you an existing client of Liberty Financial Group?</label>
            <select class="form-control" id="existingClient" formControlName="existingClient" name="existingClient"
            [ngClass]="{'is-invalid': leadForm.controls['existingClient'].errors && leadForm.controls['existingClient'].touched}">
              <option *ngFor="let ec of existingClient" [ngValue]="ec.value"> {{ ec.key }}</option>              
            </select>           
          </div>  
          <div class="form-group col-md-6">
            <label for="assignedStore">Select a store that is nearest to you</label>           
            <select class="form-control" id="assignedStore" formControlName="assignedStore" name="assignedStore"
                [ngClass]="{'is-invalid': leadForm.controls['assignedStore'].errors && leadForm.controls['assignedStore'].touched}">
                <option *ngFor="let store of stores" [value]="store.id"> {{ store.name }}</option>              
            </select>
            <div class="invalid-feedback"
                *ngIf="leadForm.controls['assignedStore'].hasError('required') 
                          && (leadForm.controls['assignedStore'].dirty 
                              || leadForm.controls['assignedStore'].touched
                              || isFormSubmit)">
                  Please select store.
            </div>
          </div>     
        </div>
       
        <div class="row">
            <div class="col-md-12">
                <label for="services">Products you are interested in</label>

                <div class="form-check" *ngFor="let service of services; let i = index" formArrayName="services">
                    <input class="form-check-input" [formControlName]="i" type="checkbox">
                    <label class="form-check-label">
                        {{ service.name }}
                    </label>
                  </div>
            </div>            
        </div>
      </fieldset>  

      <div class="form-row mb-3 mt-3">
        <div class="form-check">
          <input class="form-check-input" formControlName="allowMarketingMessages" type="checkbox" value="" id="allowMarketingMessages">
          <label class="form-check-label" for="allowMarketingMessages">
            I consent to receiving promotional emails about your products and services.
          </label>
        </div>
      </div>

      <div class="form-row mb-3 mt-3">
        <div class="form-check">
          <input class="form-check-input" formControlName="allowUseOfPersonalInfo" type="checkbox" value="" id="allowUseOfPersonalInfo">
          <label class="form-check-label" for="allowUseOfPersonalInfo">
            I consent to my data being shared with Liberty Financial Group Inc. and its partners so that they may discuss financial product and service offerings with me. 
          </label>
        </div>
      </div>

      <div class="form-row mb-3 mt-3">
        <div class="form-check">
          <label class="form-check-label">
            (Liberty Financial Group will not sell or distribute your email address to any third party who is not contracted with Liberty Financial Group at any time. View our <a href="https://www.libertyfinancialgroup.ca/privacy-policy" target="_blank"> Privacy Policy</a>.)
          </label>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>