// Import bootstrap
@import "app/bootstrap.min";
@import "https://fonts.googleapis.com/css?family=Muli";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
    font-family: Muli, Arial, Helvetica, sans-serif !important;
  }
  
  #snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }

fieldset {
    border: 1px solid #ced4da !important;
    margin-bottom: 5px !important;
    border-radius: 5px !important;
    padding: 15px !important;
}

.box-container {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    padding: 20px;
}

.form-title {
    background: #004285;
    color: white;
    font-size: 24px;
    padding: 10px;
    margin-left: -20px;
    margin-top: -20px;
    margin-right: -20px;
}

.basic-header{
    color: #004285 !important;
    
}

.full-font-family{
    font-family: Muli, Arial, Helvetica, sans-serif !important;
}

