<ul [ngClass]="timelineAlt ? 'timeline-alt' : 'timeline'">
    
    <ng-container *ngFor="let history of rows; let i=index; let odd=odd; let even=even;">

            <li *ngIf="i === 0 || (i > 0 && rows[i-1].createdOn !== history.createdOn)"
                 class="timeline-separator" [attr.data-datetime]="history.createdOn"></li>

        <!-- START timeline item-->
        <li [ngClass]="{ 'timeline-inverted': odd }">
            <div class="timeline-badge primary">
                <em class="fa fa-users"></em>
            </div>
            <div class="timeline-card" [ngClass]="{ 'timeline-card-inverted': odd }">
                <div [ngClass]="{ 'left': even, 'right': odd }">
                    <mat-card [ngClass]="{'pb-0': !history.tagData}">
                        <mat-card-title>
                            {{ histroyEnum[history.activity] }}
                            <small *ngIf="history.user">
                                by {{ history.user.fName }} {{ history.user.lName }}
                            </small>
                            <small *ngIf="!history.user">
                                by System
                            </small>
                        </mat-card-title>
                        <div class="arrow" *ngIf="history.tagData"></div>
                        <mat-card-content *ngIf="history.tagData"> 
                            <p *ngFor="let tagData of history.tagData">
                                <span *ngIf="!tagData.isNotification">
                                    {{ tagData.key }} updated from 
                                    <strong>{{ tagData.oldValue }}</strong> to 
                                    <strong>{{ tagData.newValue }}</strong>
                                </span>
                                <span *ngIf="tagData.isNotification">
                                    {{ tagData.key }}
                                </span>                                
                            </p>
                        </mat-card-content>
                      </mat-card>                
                </div>
            </div>
        </li>
        <!-- END timeline item-->
    </ng-container>
    

    <!-- START timeline item-->
    <!-- <li class="timeline-end">
        <a class="timeline-badge" href="#">
            <em class="fa fa-plus"></em>
        </a>
    </li> -->
    <!-- END timeline item--> 
    <li class="timeline-end" *ngIf="isMoreDataAvailable">
        <button class="timeline-badge timeline-badge-button" (click)="loadMore()" mat-raised-button type="button">
           Load More
        </button>
    </li>
    
</ul>