@import "scss/timeline";

::ng-deep .mat-card-title {
    font-size: 16px;
    font-weight: 600;
    border-bottom: 1px solid #c3bfbf;
    background: #eaeaea;
    margin-left: -16px !important;
    margin-right: -16px !important;
    margin-top: -16px !important;
    padding: 5px !important;

    small {
        font-style: italic;
    }
   
}

::ng-deep .mat-card {
    &.pb-0 {
        padding-bottom: 0 !important;
    }
}

::ng-deep .mat-card-content {
    font-size: 12px !important;
}

.timeline-badge-button {
    width: 100px !important;
    left: 47% !important;
    margin-left: 0 !important;    
    background: #004285 !important;
    padding-bottom: 10px !important;
    border-radius: 1 !important;   
    margin-top: -5px !important;
}