<div id="ngx-datatable" *ngIf="!isEditPayment && !isNewPayment" class="page-layout simple fullwidth">

    <div class="content p-24"> 
        
        <div fxLayout="row" fxLayoutAlign="start center">
            <button class="mr-8 mb-12" color="accent" mat-raised-button (click)="goToCreatePayment()" type="button">
                Add Payment
            </button>           
        </div>

        <ngx-datatable
            class="material"
            [rows]="rows"
            [loadingIndicator]="loadingIndicator"
            [columnMode]="'force'"
            [headerHeight]="48"
            [footerHeight]="56"
            [rowHeight]="'auto'"
            [scrollbarH]="true"
            [reorderable]="reorderable"
            [columns]="columns"          
            [externalPaging]="true"
            [count]="paginationInfo?.totalCount"
            [offset]="paginationInfo?.currentPage"
            [limit]="paginationInfo?.pageSize"
            (page)="getNextPage($event)"
            (activate)="paymentRowSelect($event)">            
        </ngx-datatable>

    </div>

</div>

<ng-container *ngIf="isEditPayment">
    <app-edit-payment [id]="selectedPaymentId" (paymentUpdated)="paymentUpdated()"></app-edit-payment>
</ng-container>


<ng-container *ngIf="isNewPayment">
    <app-create-payment [leadServiceOfferedId]="leadServiceOfferedId" (paymentCreated)="paymentCreated()"></app-create-payment>
</ng-container>


