<div id="forms" class="page-layout simple fullwidth" fxLayout="column">

    <!-- HEADER -->
    <div class="header accent p-24 h-50" fxLayout="row" fxLayoutAlign="start center">
        <div fxLayout="column" fxLayoutAlign="center start">
            <!-- <div fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="secondary-text s-18">home</mat-icon>
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                <span class="secondary-text">User Interface</span>
            </div> -->
            <div class="h1">Create Service</div>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content p-24">

        <div class="mb-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row">

            <form class="mat-card mat-elevation-z4 p-24 mr-24" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto"
                name="form" [formGroup]="serviceofferedForm" (submit)="submitForm()" novalidate="">

                <!-- <div class="h2 mb-24">Reactive Form Example</div> -->

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                    <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
                        <mat-label>Code</mat-label>
                        <input matInput formControlName="code">
                        <mat-icon matSuffix class="secondary-text">markunread_mailbox</mat-icon>
                        <mat-error>Code is required!</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
                        <mat-label>Name</mat-label>
                        <input matInput formControlName="name">
                        <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                        <mat-error>Name is required!</mat-error>
                    </mat-form-field>


                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                    <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
                        <mat-label>Category</mat-label>
                        <mat-select formControlName="category">
                            <mat-option *ngFor="let category of categorys" [value]="category">
                                {{ category }}
                            </mat-option>
                        </mat-select>
                        <mat-icon matSuffix class="secondary-text">category</mat-icon>
                        <mat-error>Category is required!</mat-error>
                    </mat-form-field>
                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
                        <mat-label>Product Manager</mat-label>
                        <mat-select formControlName="serviceManagerId">
                            <mat-option *ngFor="let userRole of serviceManager" [value]="userRole.id">
                                {{ userRole.fName }} {{ userRole.lName }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <!-- [(ngModel)]="dropDownManual" --> <!-- (click)="save(invoiceGeneration.value)" -->
                    <!-- [(ngModel)]="dropDownOne" (selectionChange)="on($event.value)" -->
                    <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
                        <mat-label>Invoice Generation</mat-label>
                        <mat-select formControlName="invoiceGeneration" class="align">
                            <mat-option *ngFor="let invoiceGeneration of invoicedGeneration" [value]="invoiceGeneration">
                                {{ invoiceGeneration }}
                            </mat-option>
                        </mat-select>
                        <mat-icon matSuffix class="secondary-text">insert_invitation</mat-icon>
                        <mat-error>Please select a valid option for Invoice Generation</mat-error>
                    </mat-form-field>

                    <!-- [(ngModel)]="DropDownAutomatic" (change)="on()" [hidden]="show" [disabled]="dropDownManual== 'Manual'||dropDownManual == undefined " -->
                    <!-- *ngIf="IsHiddenValue" -->
                    <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
                        <mat-label>Invoice Amount Calculation</mat-label>
                        <mat-select formControlName="invoiceAmountCalculation" class="align">
                            <mat-option *ngFor="let amountCalculation of Calculation" [value]="amountCalculation">
                                {{ amountCalculation }}
                            </mat-option>
                        </mat-select>
                        <mat-icon matSuffix class="secondary-text">payments</mat-icon>
                        <mat-error>Please select a valid option for Invoice Amount Calculation</mat-error>
                    </mat-form-field>

                    <!-- [(ngModel)]="DropDownAutomatic" (change)="on()" [hidden]="show" [disabled]="textbox== 'Manual'||textbox == undefined " -->
                    <!-- *ngIf="IsHiddenValue" -->
                    <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
                        <mat-label>Value</mat-label>
                        <input matInput formControlName="value">
                        <mat-icon matSuffix class="secondary-text">monetization_on</mat-icon>
                        <mat-error *ngIf="serviceofferedForm.get('value').hasError('required') 
                                    && serviceofferedForm.get('value').touched">
                            Value is required!
                        </mat-error>
                        <mat-error *ngIf="serviceofferedForm.get('value').hasError('pattern') 
                                    && serviceofferedForm.get('value').touched">
                            Value is not valid!
                        </mat-error>
                    </mat-form-field>
                </div>

                <div fxLayout="row" fxLayoutAlign="start center" class="mt-8">
                    <button class="mr-8" mat-raised-button type="submit" color="accent"
                        [disabled]="!serviceofferedForm.valid">
                        Add
                    </button>
                    <button mat-raised-button type="button" (click)="cancel()">
                        Cancel
                    </button>
                </div>
            </form>
        </div>

    </div>
    <!-- / CONTENT -->

</div>