<div id="forms" class="todo-content">

    <form class="mat-card mat-elevation-z4 p-24 mr-24" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto"
        name="form" [formGroup]="taskForm" (submit)="submitForm()" novalidate="" style="box-shadow: none;">

        <div class="h2 mb-24">
            <div class="todo-header" fxLayout="row" fxLayoutAlign="space-between center">

                <button mat-button class="toggle-complete-button" (click)="toggleCompleted($event)"
                    aria-label="Toggle completed" fxFlex="0 1 auto">
                    <mat-icon *ngIf="task.isCompleted">check_box</mat-icon>
                    <mat-icon *ngIf="!task.isCompleted">check_box_outline_blank</mat-icon>
                    <span class="ml-8">Mark as Done</span>
                </button>

                <div class="actions" fxLayout="row" fxLayoutAlign="start center">

                    <button mat-icon-button (click)="toggleImportant($event)" aria-label="Toggle important">
                        <mat-icon class="red-fg" *ngIf="task.isImportant">error</mat-icon>
                        <mat-icon class="secondary-text" *ngIf="!task.isImportant">error_outline</mat-icon>
                    </button>

                    <button mat-icon-button (click)="toggleStar($event)" aria-label="Toggle star">
                        <mat-icon class="amber-fg" *ngIf="task.isMarked">star</mat-icon>
                        <mat-icon class="secondary-text" *ngIf="!task.isMarked">star_border</mat-icon>
                    </button>
                </div>
            </div>
        </div>
        <!-- <form [formGroup]="taskForm" (submit)="submitForm()">       -->
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
            <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
                <mat-label>Title</mat-label>
                <input matInput #titleInput
                         name="title" 
                         formControlName="title"
                          maxlength="250" />
                <mat-error *ngIf="taskForm.get('title').hasError('required') 
                                    && taskForm.get('title').touched">
                    Title is required!
                </mat-error>
                <mat-error *ngIf="taskForm.get('title').hasError('maxlength') 
                        && taskForm.get('title').touched">
                    Title cannot exceed 250 characters!
                </mat-error>
                <!-- <mat-hint align="end">{{notes.value.length}} / 500</mat-hint> -->
            </mat-form-field>

            <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
                <mat-label>Date</mat-label>
                <input matInput [matDatepicker]="date" formControlName="date">
                <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
                <mat-datepicker #date></mat-datepicker>
            </mat-form-field>
            <!-- </div>  -->
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

            <mat-form-field appearance="outline" fxFlex="100">
                <mat-label>Description</mat-label>
                <textarea matInput #notes name="description" formControlName="description">
            </textarea>
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
            <button mat-raised-button class="mr-8" color="accent" [disabled]="taskForm?.invalid">
                SAVE
            </button>
            <button mat-raised-button type="button" (click)="cancel()">
                Cancel
            </button>
        </div>
    </form>
</div>