<div id="todo" class="page-layout carded inner-scroll">

    <div class="center">
<!-- CONTENT CARD -->
<div class="content-card" [ngClass]="{'current-todo-selected':currentTodo}">

    <!-- CONTENT TOOLBAR -->
    <div class="toolbar px-24 py-8">

        <div class="todo-selection gridster-item-content" fxFlex="row" fxLayoutAlign="start center">
            <mat-checkbox (click)="toggleSelectAll()" [checked]="hasSelectedTodos"
                          [indeterminate]="isIndeterminate"></mat-checkbox>

            <button mat-icon-button [matMenuTriggerFor]="selectMenu">
                <mat-icon>arrow_drop_down</mat-icon>
            </button>
            <mat-menu #selectMenu="matMenu">
                <button mat-menu-item (click)="selectTodos()">All</button>
                <button mat-menu-item (click)="deselectTodos()">None</button>
                <button mat-menu-item (click)="selectTodos('read', true)">Read</button>
                <button mat-menu-item (click)="selectTodos('read', false)">Unread</button>
                <button mat-menu-item (click)="selectTodos('starred', true)">Starred</button>
                <button mat-menu-item (click)="selectTodos('starred', false)">Unstarred</button>
                <button mat-menu-item (click)="selectTodos('important', true)">Important</button>
                <button mat-menu-item (click)="selectTodos('important', false)">Unimportant</button>
            </mat-menu>

            <!-- <button mat-raised-button fxlayout="row" fxLayoutAlign="end start"
                class="mat-accent add-todo-button"
                (click)="newTodo()"           
                aria-label="ADD TASK">
                    ADD TASK
            </button> -->

            <div class="toolbar-separator" *ngIf="hasSelectedTodos"></div>

            <button mat-icon-button [matMenuTriggerFor]="labelMenu" *ngIf="hasSelectedTodos">
                <mat-icon class="secondary-text">label</mat-icon>
            </button>
            <mat-menu #labelMenu="matMenu">
                <button mat-menu-item *ngFor="let tag of tags" (click)="toggleTagOnSelectedTodos(tag.id)">
                    {{tag.title}}
                </button>
            </mat-menu>
        </div>

        <div *ngIf="currentTodo" fxHide.gt-lg>
            <button mat-icon-button (click)="deselectCurrentTodo()">
                <mat-icon class="secondary-text">arrow_back</mat-icon>
            </button>
        </div>

    </div>
    <!-- / CONTENT TOOLBAR -->

    <!-- CONTENT -->
    <div class="content gridster-item-content todo-list-scroll" fxFlexAlign="row">
        <todo-list fusePerfectScrollbar fxFlex></todo-list>
        <todo-details fusePerfectScrollbar fxFlex></todo-details>
    </div>
    <!-- / CONTENT -->

</div>
<!-- / CONTENT CARD -->
    </div>

</div>

