@import "src/@fuse/scss/fuse";

app-lead-sin-details {

    #coming-soon {
        width: 100%;
        background: url('/assets/images/backgrounds/dark-material-bg.jpg') repeat;
        background-size: cover;

        #coming-soon-form-wrapper {
            flex: 1 0 auto;
            padding: 32px;

            @include media-breakpoint('xs') {
                padding: 16px;
            }

            #coming-soon-form {
                width: 650px;
                max-width: 650px;
                text-align: left;
                @include mat-elevation(16);

                @include media-breakpoint('xs') {
                    width: 100%;
                }

                .top {
                    width: 100%;
                    padding: 32px;

                    @include media-breakpoint('xs') {
                        padding: 24px;
                    }

                    .logo {
                        width: 128px;
                        margin: 32px auto;
                    }

                    .title {
                        font-size: 14px;
                        margin-top: 16px;
                    }
                    .message {
                        font-weight: 600;
                        margin: 8px auto 10px auto;
                    }

                    .subtitle {
                        margin: 16px auto 0 auto;
                        text-align: center;
                        max-width: 300px;
                        font-size: 15px;
                    }

                    .suceess-icon {
                        height: 60px !important;
                        width: 60px !important;
                        color: green !important;
                        font-size: 60px !important;
                    }

                    fuse-countdown {
                        margin: 48px auto 16px auto;
                    }
                }

                form {
                    width: 100%;
                    padding: 32px;
                    text-align: center;

                    .message {
                        font-weight: 600;
                        margin: 8px auto 10px auto;
                    }

                    mat-form-field {
                        width: 320px;
                        // margin: 8px auto 16px auto;
                        margin: none;
                        padding-bottom: none;
                    }

                    .subscribe-button {
                        width: 220px;
                        margin: 16px auto;

                        @include media-breakpoint('xs') {
                            width: 90%;
                        }
                    }
                }
            }
        }
    }
}