<div id="coming-soon" fxLayout="column">

    <div id="coming-soon-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

        <div id="coming-soon-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

            <div class="top">

                <div class="logo">
                    <img src="assets/images/logos/LibertyGroup.png">
                </div>

                <div *ngIf="tokenValidityDetails.isValid && !isDetailsUpdated">
                    <div class="title">Welcome to Liberty Edge!</div>
                    <div class="title">To begin processing your request for a 10- Year Tax Review we require your SIN. This is a secure link that will expire in 24 hours.</div>
                    <div class="title">Your SIN will be used to conduct your 10- Year Tax Review for refund purposes.</div>
                    <div class="title"><strong>Please enter your 9-digit SIN without any spaces in the boxes below.</strong></div>            
                </div>

                <div *ngIf="!tokenValidityDetails.isValid">
                    <p style="text-align: center;">{{ tokenValidityDetails.message }}</p>
                </div>

                <div fxLayout="column" fxLayoutAlign="center center" *ngIf="isDetailsUpdated">
                    <mat-icon class="suceess-icon">check_circle</mat-icon>
                    <p>Thank you for providing SIN details</p>
                </div>
                     
               

            </div>

            <form name="sensitiveInfoForm" (submit)="submitForm()" [formGroup]="sensitiveInfoForm" 
                *ngIf="tokenValidityDetails.isValid && !isDetailsUpdated">
    
                <mat-form-field appearance="outline">
                    <mat-label>SIN</mat-label>
                    <input type="password" matInput formControlName="sin">
                    <mat-icon matSuffix class="secondary-text">account_balance</mat-icon>
                    <mat-error *ngIf="sensitiveInfoForm.get('sin').hasError('required')">
                        SIN is required
                    </mat-error>
                    <mat-error *ngIf="sensitiveInfoForm.controls['sin'].errors?.sinExist">
                        SIN is already exist
                    </mat-error>   
                    <mat-error *ngIf="sensitiveInfoForm.get('sin').hasError('pattern') && sensitiveInfoForm.get('sin').touched">
                        SIN is not valid!
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Confirm SIN</mat-label>
                    <input type="password" matInput formControlName="confirmSin" (blur)="checkIsSinMatch()">
                    <mat-icon matSuffix class="secondary-text">account_balance</mat-icon>
                    <mat-error *ngIf="sensitiveInfoForm.get('confirmSin').hasError('required')">
                        Confirm SIN is required
                    </mat-error>
                    <mat-error *ngIf="!isSinMatch">
                        SIN and Confirm SIN must match
                    </mat-error>
                </mat-form-field><br>

                <button type="submit" mat-raised-button color="accent" class="subscribe-button" aria-label="SUBMIT"
                        [disabled]="sensitiveInfoForm.invalid">
                    SUBMIT
                </button>

            </form>

        </div>

    </div>

</div>
