<div>
  <gridster [options]="options" class="gridster">
      <gridster-item [item]="item" *ngFor="let item of dashboard">      
        <app-parent-container [widget]="item"></app-parent-container>
      </gridster-item>
    </gridster>
</div>   

