// Import bootstrap
@import "app/bootstrap.min";

fieldset {
    border: 1px solid #ced4da !important;
    margin-bottom: 5px !important;
    border-radius: 5px !important;
    padding: 15px !important;
}