<div class="container">
    <h2>Lead Form</h2>
    <form  [formGroup]="leadForm" (submit)="submitForm()" novalidate="">
      <h4>Basic Details</h4>
      <fieldset>

        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="fName">First Name</label>
            <input type="text" class="form-control" id="fName" placeholder="Enter First Name" 
                formControlName="fName" name="fName"
                [ngClass]="{'is-invalid': leadForm.controls['fName'].errors && leadForm.controls['fName'].touched}">
            <div class="invalid-feedback"
            *ngIf="leadForm.controls['fName'].hasError('required') 
                          && (leadForm.controls['fName'].dirty 
                              || leadForm.controls['fName'].touched
                              || isFormSubmit)">
                  Please enter first name.
            </div>
          </div>
          <div class="form-group col-md-4">
            <label for="mName">Middle Name</label>
            <input type="text" class="form-control" id="mName" placeholder="Enter Middle Name" 
                formControlName="mName" name="mName"
                [ngClass]="{'is-invalid': leadForm.controls['mName'].errors && leadForm.controls['mName'].touched}">
            <div class="invalid-feedback"
                *ngIf="leadForm.controls['mName'].hasError('required') 
                          && (leadForm.controls['mName'].dirty 
                              || leadForm.controls['mName'].touched
                              || isFormSubmit)">
                  Please enter middle name.
            </div>
          </div>
          <div class="form-group col-md-4">
            <label for="lName">Last Name</label>
            <input type="text" class="form-control" id="lName" placeholder="Enter Last Name" 
                formControlName="lName" name="lName"
                [ngClass]="{'is-invalid': leadForm.controls['lName'].errors && leadForm.controls['lName'].touched}">
            <div class="invalid-feedback"
            *ngIf="leadForm.controls['lName'].hasError('required') 
                          && (leadForm.controls['lName'].dirty 
                              || leadForm.controls['lName'].touched
                              || isFormSubmit)">
                  Please enter last name.
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" 
                formControlName="email" placeholder="Enter email" name="email"
                [ngClass]="{'is-invalid': leadForm.controls['email'].errors && leadForm.controls['email'].touched}">
            <div class="invalid-feedback"
            *ngIf="leadForm.controls['email'].hasError('required') 
                          && (leadForm.controls['email'].dirty 
                              || leadForm.controls['email'].touched
                              || isFormSubmit)">
                  Please enter email.
            </div>  
            <div class="invalid-feedback"
            *ngIf="leadForm.controls['email'].hasError('email') 
                          && (leadForm.controls['email'].dirty 
                              || leadForm.controls['email'].touched
                              || isFormSubmit)">
                  Please enter valid email.
            </div>  
          </div>
          <div class="form-group col-md-6">
            <label for="email">Address</label>
            <textarea rows="1" class="form-control" id="address" 
              formControlName="address" placeholder="Enter address" name="address"
              [ngClass]="{'is-invalid': leadForm.controls['address'].errors && leadForm.controls['address'].touched}"></textarea>           
            <div class="invalid-feedback"
            *ngIf="leadForm.controls['address'].hasError('required') 
                          && (leadForm.controls['address'].dirty 
                              || leadForm.controls['address'].touched
                              || isFormSubmit)">
                  Please enter address.
            </div>              
          </div>
        </div> 

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="fName">City</label>
            <input type="text" class="form-control" id="city" placeholder="Enter city" 
                formControlName="city" name="city"
                [ngClass]="{'is-invalid': leadForm.controls['city'].errors && leadForm.controls['city'].touched}">
            <div class="invalid-feedback"
            *ngIf="leadForm.controls['city'].hasError('required') 
                          && (leadForm.controls['city'].dirty 
                              || leadForm.controls['city'].touched
                              || isFormSubmit)">
                  Please enter first name.
            </div>
          </div>
          <div class="form-group col-md-6">
            <label for="province">Select province</label>
            <select class="form-control" id="province" formControlName="province" name="province"
            [ngClass]="{'is-invalid': leadForm.controls['province'].errors && leadForm.controls['province'].touched}">
              <option *ngFor="let pr of provinces" [ngValue]="pr"> {{ pr }}</option>              
            </select>
            <div class="invalid-feedback"
                *ngIf="leadForm.controls['province'].hasError('required') 
                          && (leadForm.controls['province'].dirty 
                              || leadForm.controls['province'].touched
                              || isFormSubmit)">
                  Please select province.
            </div>
          </div>          
        </div>

        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="zipcode">Zip Code</label>
            <input type="text" class="form-control" id="zipcode" placeholder="Enter Zip Code" 
                formControlName="zipcode" name="zipcode"
                [ngClass]="{'is-invalid': leadForm.controls['zipcode'].errors && leadForm.controls['zipcode'].touched}">
            <div class="invalid-feedback"
            *ngIf="leadForm.controls['zipcode'].hasError('required') 
                          && (leadForm.controls['zipcode'].dirty 
                              || leadForm.controls['zipcode'].touched
                              || isFormSubmit)">
                  Please enter zip code.
            </div>
          </div>
          <div class="form-group col-md-4">
            <label for="phoneNumber">Phone Number</label>
            <input type="text" class="form-control" id="mName" placeholder="Enter Phone Number" 
                formControlName="phoneNumber" name="phoneNumber"
                [ngClass]="{'is-invalid': leadForm.controls['phoneNumber'].errors && leadForm.controls['phoneNumber'].touched}">
            <div class="invalid-feedback"
                *ngIf="leadForm.controls['phoneNumber'].hasError('required') 
                          && (leadForm.controls['phoneNumber'].dirty 
                              || leadForm.controls['phoneNumber'].touched
                              || isFormSubmit)">
                  Please enter phone number.
            </div>
          </div>   
          <div class="form-group col-md-4">
            <label for="source">Source</label>
            <input type="text" class="form-control" id="mName" placeholder="Enter Source" 
                formControlName="source" name="source"
                [ngClass]="{'is-invalid': leadForm.controls['source'].errors && leadForm.controls['source'].touched}">
            <div class="invalid-feedback"
                *ngIf="leadForm.controls['source'].hasError('required') 
                          && (leadForm.controls['source'].dirty 
                              || leadForm.controls['source'].touched
                              || isFormSubmit)">
                  Please enter source.
            </div>
          </div>          
        </div>

        <div class="form-row mb-3">
          <div class="form-group col-md-6">
            <label for="existingClient">Are you an existing client of Liberty Financial Group?</label>
            <select class="form-control" id="existingClient" formControlName="existingClient" name="existingClient"
            [ngClass]="{'is-invalid': leadForm.controls['existingClient'].errors && leadForm.controls['existingClient'].touched}">
              <option *ngFor="let ec of existingClient" [ngValue]="ec.value"> {{ ec.key }}</option>              
            </select>           
          </div>       
        </div>

        <div class="form-row">
          <label for="assets">Services</label>
          <div class="form-check" *ngFor="let service of services">
            <input type="checkbox" class="form-check-input">
            <label class="form-check-label">{{ service.name }}</label>
          </div>
        </div>
      </fieldset>   

      <h4>Work Details</h4>  
      <fieldset>
        
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="job">Self employed or job?</label>
            <select class="form-control" id="job" formControlName="job" name="job"
            [ngClass]="{'is-invalid': leadForm.controls['job'].errors && leadForm.controls['job'].touched}">
              <option *ngFor="let sj of selfEmployedOrJob" [ngValue]="sj"> {{ sj }}</option>              
            </select>
            <div class="invalid-feedback"
                *ngIf="leadForm.controls['job'].hasError('required') 
                          && (leadForm.controls['job'].dirty 
                              || leadForm.controls['job'].touched
                              || isFormSubmit)">
                  Please Self employed or job.
            </div>
          </div> 
          <div class="form-group col-md-6">
            <label for="position">Position</label>
            <input type="text" class="form-control" id="position" placeholder="Enter Position" 
                formControlName="position" name="position"
                [ngClass]="{'is-invalid': leadForm.controls['position'].errors && leadForm.controls['position'].touched}">
            <div class="invalid-feedback"
            *ngIf="leadForm.controls['position'].hasError('required') 
                          && (leadForm.controls['position'].dirty 
                              || leadForm.controls['position'].touched
                              || isFormSubmit)">
                  Please enter position.
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="companyName">Copmpany Name</label>
            <input type="text" class="form-control" id="companyName" placeholder="Enter Company Name" 
                formControlName="companyName" name="companyName"
                [ngClass]="{'is-invalid': leadForm.controls['companyName'].errors && leadForm.controls['companyName'].touched}">
            <div class="invalid-feedback"
            *ngIf="leadForm.controls['companyName'].hasError('required') 
                          && (leadForm.controls['companyName'].dirty 
                              || leadForm.controls['companyName'].touched
                              || isFormSubmit)">
                  Please enter company name.
            </div>
          </div>
          <div class="form-group col-md-4">
            <label for="website">Website</label>
            <input type="text" class="form-control" id="website" placeholder="Enter Website" 
                formControlName="website" name="website"
                [ngClass]="{'is-invalid': leadForm.controls['website'].errors && leadForm.controls['website'].touched}">
            <div class="invalid-feedback"
            *ngIf="leadForm.controls['website'].hasError('required') 
                          && (leadForm.controls['website'].dirty 
                              || leadForm.controls['website'].touched
                              || isFormSubmit)">
                  Please enter website.
            </div>
          </div>
          <div class="form-group col-md-4">
            <label for="employedSince">Employed Since</label>
            <input type="date" max="3000-12-31" min="1000-01-01" class="form-control" id="employedSince" placeholder="Enter Date" 
                formControlName="employedSince" name="employedSince"
                [ngClass]="{'is-invalid': leadForm.controls['employedSince'].errors && leadForm.controls['employedSince'].touched}">
            <div class="invalid-feedback"
            *ngIf="leadForm.controls['employedSince'].hasError('required') 
                          && (leadForm.controls['employedSince'].dirty 
                              || leadForm.controls['employedSince'].touched
                              || isFormSubmit)">
                  Please enter date.
            </div>
          </div>
        </div>
        
      </fieldset>

      <h4>Salary Range</h4>
      <fieldset>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="job">Salary frequency</label>
            <select class="form-control" id="salaryFrequency" formControlName="salaryFrequency" name="salaryFrequency"
            [ngClass]="{'is-invalid': leadForm.controls['salaryFrequency'].errors && leadForm.controls['salaryFrequency'].touched}">
              <option *ngFor="let sf of salaryFrequencies" [ngValue]="sf"> {{ sf }}</option>              
            </select>
            <div class="invalid-feedback"
                *ngIf="leadForm.controls['salaryFrequency'].hasError('required') 
                          && (leadForm.controls['salaryFrequency'].dirty 
                              || leadForm.controls['salaryFrequency'].touched
                              || isFormSubmit)">
                  Please select salary frequency.
            </div>
          </div> 
        </div>
        <div class="form-row">
          <label for="assets">Assets</label>
          <div class="form-check" *ngFor="let asset of assets">
            <input type="checkbox" class="form-check-input">
            <label class="form-check-label">{{ asset.name }}</label>
          </div>
        </div>
      </fieldset>

      <h4>Family Details</h4>
      <fieldset>
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="noOfChildren">Number of Children</label>
            <input type="number" class="form-control" id="noOfChildren" placeholder="Enter Number of Children" 
                formControlName="noOfChildren" name="noOfChildren">            
          </div>
        </div>
      </fieldset>

      <div class="form-row mb-3 mt-3">
        <div class="form-check">
          <input class="form-check-input" formControlName="okToReceiveMessage" type="checkbox" value="" id="okToReceiveMessage">
          <label class="form-check-label" for="okToReceiveMessage">
            Are you okay to receive product updates/marketing messages from Liberty Financial Group/Liberty Tax Group?
          </label>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>