<div id="forms" class="page-layout simple fullwidth" fxLayout="column">

    <div class="payment" *ngIf="isFormLoaded">      

        <div class="mb-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row">           

            <form class="mat-card mat-elevation-z4 p-24 mr-24" fxLayout="column" fxLayoutAlign="start"
                  fxFlex="1 0 auto" name="form" [formGroup]="paymentForm" 
                  (submit)="submitForm()" novalidate="">          
                  
                <div class="h2 mb-24 header-font-color">Edit Payment</div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                    <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
                        <mat-label>Date</mat-label>
                        <input matInput [matDatepicker]="date" formControlName="date">
                        <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
                        <mat-datepicker #date></mat-datepicker>
                        <mat-error>Date is required!</mat-error>
                    </mat-form-field>   

                </div>                

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">                 

                    <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
                        <mat-label>Product Mode</mat-label>
                        <mat-select formControlName="mode">
                            <mat-option *ngFor="let mode of modes" [value]="mode">
                                {{ mode }}
                            </mat-option>
                        </mat-select>
                        <mat-icon matSuffix class="secondary-text">mode_comment</mat-icon>
                        <mat-error>Parent District is required!</mat-error>
                    </mat-form-field>

                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                
                    <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
                        <mat-label>Payment Amount</mat-label>
                        <input matInput formControlName="amount">
                        <mat-icon matSuffix class="secondary-text">attach_money</mat-icon>    
                        <mat-error *ngIf="paymentForm.get('amount').hasError('required') && paymentForm.get('amount').touched">
                            Payment Amount is required
                        </mat-error>
                        <mat-error *ngIf="paymentForm.get('amount').hasError('pattern') && paymentForm.get('amount').touched">
                            Amount Amount is not valid!
                        </mat-error>            
                    </mat-form-field>
                </div>


                <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">                 

                    <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
                        <mat-label>Payment Location</mat-label>
                        <mat-select formControlName="location">
                            <mat-option *ngFor="let location of locations" [value]="location">
                                {{ location }}
                            </mat-option>
                        </mat-select>
                        <mat-icon matSuffix class="secondary-text">location_on</mat-icon>
                        <mat-error>Payment Location is required!</mat-error>
                    </mat-form-field>                  

                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">                 

                    <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
                        <mat-label>Payment Reference Details</mat-label>
                        <input matInput formControlName="referenceDetails">
                        <mat-icon matSuffix class="secondary-text">details</mat-icon>
                       
                    </mat-form-field>
                   
                </div>

                <div fxLayout="row" fxLayoutAlign="start center" class="mt-8">
                    <button class="mr-8" mat-raised-button type="submit" 
                        color="accent" >
                        Update
                    </button>
                    <button mat-raised-button type="button" (click)="cancel()">
                        Cancel
                    </button>
                </div>                           
            </form>
        </div>

    </div>

</div>


