.search-wrapper {
    width: 100%;
    max-width: 480px;
    border-radius: 28px;
    overflow: hidden;
    padding-bottom: 15px;

    .search {
        width: 100%;
        height: 50px;
        line-height: 30px;
        padding: 0 18px;
        font-size: 14px;

        input {
            width: 100%;
            height: 48px;
            min-height: 48px;
            max-height: 48px;
            padding: 0 16px;
            border: none;
            outline: none;
            text-align: center;
        }
    }
}
.header{
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    place-content: center space-between;
    align-items: center;
}

.custom-date-error {
    color: red;
}

.filter-field {
    ::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0.4em 0.4em !important;}
    ::ng-deep .mat-form-field-label-wrapper { top: -1.5em; }
    
    ::ng-deep .mat-form-field-flex {
        height: 40px;
    }

    ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-label {
        top: 1.90em !important;
    }
    
    ::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
        transform: translateY(-1.1em) scale(.75);
        width: 133.33333%;
    }
    
    ::ng-deep .mat-input-element {
        position: relative;
        top:  -0.2em; /* Adjust accordingly to keep placeholder/input text vertically centered. */
      }
}

.date-field {
    ::ng-deep .mat-form-field-wrapper{
        padding-bottom: 1.45em;
    }
}
