<div id="ngx-datatable" class="page-layout simple fullwidth">

    <!-- HEADER -->
    <div class="header accent p-24 h-50" fxLayout="row" fxLayoutAlign="center center" fxLayout.gt-xs="row"
        fxLayoutAlign.gt-xs="space-between center">
        <div fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="column" fxLayoutAlign.gt-xs="center start">
            <div class="h1">Report</div>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content p-24">

        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

            <div fxFlex>

                <div class="filter-field">
                    <mat-form-field fxFlex="100" class="mr-12">
                        <mat-label>Choose Filter</mat-label>
                        <mat-select class="simplified" [(value)]="selectedDuration" (selectionChange)="durationSelected($event)">
                            <mat-option value="today">Today</mat-option>
                            <mat-option value="yesterday">Yesterday</mat-option>
                            <mat-option value="7days">Last 7 days</mat-option>
                            <mat-option value="28days">Last 28 days</mat-option>
                            <mat-option value="90days">Last 90 days</mat-option>
                            <mat-option value="custom">Custom Date</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <ng-container *ngIf="isCustomDate">
                        <!-- <mat-label class="float-right" style="font-size: 14px;">Custom Date:</mat-label>&nbsp;&nbsp; -->                        
                        <mat-form-field fxFlex="100" class="ml-12 date-field">
                            <mat-label>Choose From Date</mat-label>
                            <input matInput [matDatepicker]="from" (dateChange)="fromDateSelected($event)">
                            <mat-datepicker-toggle matSuffix [for]="from"></mat-datepicker-toggle>
                            <mat-datepicker #from></mat-datepicker>
                        </mat-form-field>&nbsp;&nbsp;
        
                        <mat-label class="center ml-12">To</mat-label>&nbsp;&nbsp;
        
                        <mat-form-field fxFlex="100" class="ml-12 mr-12 date-field">
                            <mat-label>Choose To Date</mat-label>
                            <input matInput [matDatepicker]="picker" (dateChange)="toDateSelected($event)">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
        
                        <button class="ml-12 mb-8" mat-raised-button (click)="customDateApplied()" type="button">
                            Apply
                        </button> 
        
                        <div class="mb-8 custom-date-error" *ngIf="customDateError">{{ customDateError }}</div>
                    </ng-container>
                </div>
            </div>    

            <div fxFlex="20">
                <button class="mr-8 mb-12" color="accent" mat-raised-button (click)="downloadReport()" type="button">
                    Download Report
                </button> 
            </div>

            <!-- <div class="search-wrapper mx-32 mx-md-0" fxFlex>
                <div class="search">
                    <input #filter placeholder="Search for a Report">
                </div>
            </div> -->

            
            <!-- <div class="search-field" fxFlex="100">
                <mat-form-field  appearance="outline" fxFlex="100" class="pr-4">                
                    <input matInput placeholder="search report" (keyup)='search($event)'>               
                </mat-form-field>
            </div> -->
        </div>

        <ngx-datatable 
            class="material" 
            [rows]="rows" 
            [loadingIndicator]="loadingIndicator" 
            [columnMode]="'force'"
            [headerHeight]="48" 
            [footerHeight]="56" 
            [rowHeight]="'auto'" 
            [scrollbarH]="true" 
            [reorderable]="reorderable"
            [columns]="columns"                    
            (activate)="reportRowSelect($event)"
            (page)="getNextPage($event)"
            [externalPaging]="true"      
            [count]="paginationInfo?.totalCount"
            [offset]="paginationInfo?.currentPage"
            [limit]="paginationInfo?.pageSize"> 

        </ngx-datatable>

    </div>

</div>