<div id="forms" class="page-layout simple fullwidth" fxLayout="column" *ngIf="isFormLoaded">

    <!-- HEADER -->
    <div class="header accent p-24 h-50" fxLayout="row" fxLayoutAlign="start center">
        <div fxLayout="column" fxLayoutAlign="center start">
            <!-- <div fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="secondary-text s-18">home</mat-icon>
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                <span class="secondary-text">User Interface</span>
            </div> -->
            <div class="h1">Edit User</div>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content p-24">      

        <div class="mb-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row">           

            <form class="mat-card mat-elevation-z4 p-24 mr-24" fxLayout="column" fxLayoutAlign="start"
                  fxFlex="1 0 auto" name="form" [formGroup]="userForm" 
                  (submit)="submitForm()" novalidate="">

                <!-- <div class="h2 mb-24">Reactive Form Example</div> -->                

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                    <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
                        <mat-label>First name</mat-label>
                        <input matInput formControlName="fName">
                        <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                        <mat-error *ngIf="userForm.get('fName').hasError('required') 
                                    && userForm.get('fName').touched">
                            First Name is required!
                        </mat-error>
                        <mat-error *ngIf="userForm.get('fName').hasError('pattern') 
                                    && userForm.get('fName').touched">
                            First Name is not valid!
                        </mat-error>
                        <mat-error *ngIf="userForm.get('fName').hasError('maxlength') 
                                    && userForm.get('fName').touched">
                            First Name cannot exceed 50 characters!
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" fxFlex="100" class="pl-4">
                        <mat-label>Middle name</mat-label>
                        <input matInput formControlName="middleName">
                        <mat-icon matSuffix class="secondary-text">account_circle</mat-icon> 
                        <mat-error *ngIf="userForm.get('middleName').hasError('maxlength') 
                                    && userForm.get('middleName').touched">
                                    Middle name cannot exceed 50 characters!
                        </mat-error>                        
                    </mat-form-field>
                <!-- </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto"> -->
                    <mat-form-field appearance="outline" fxFlex="100" class="pl-4">
                        <mat-label>Last name</mat-label>
                        <input matInput formControlName="lName">
                        <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                        <mat-error *ngIf="userForm.get('lName').hasError('required') 
                                    && userForm.get('lName').touched">
                                    Last Name is required!
                        </mat-error>
                        <mat-error *ngIf="userForm.get('lName').hasError('pattern') 
                                    && userForm.get('lName').touched">
                                    Last Name is not valid!
                        </mat-error>
                        <mat-error *ngIf="userForm.get('lName').hasError('maxlength') 
                                    && userForm.get('lName').touched">
                            Last Name cannot exceed 50 characters!
                        </mat-error>
                    </mat-form-field>
                </div>

                <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">                 

                    <mat-form-field appearance="outline" fxFlex="100">
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="email">
                        <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                        <mat-error *ngIf="userForm.get('email').hasError('required') && userForm.get('email').touched">
                            Email Id is required!
                        </mat-error>
                        <mat-error *ngIf="userForm.get('email').hasError('pattern') && userForm.get('email').touched">
                            Email Id is not valid!
                        </mat-error>
                        <mat-error *ngIf="userForm.controls['email'].errors?.userEmailExist">
                            User with same Email Id already exists in the system.
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" fxFlex="100">
                        <mat-label>Phone No.</mat-label>
                        <input matInput formControlName="phoneNumber">
                        <mat-icon matSuffix class="secondary-text">phone_circle</mat-icon>
                        <mat-error *ngIf="userForm.get('phoneNumber').hasError('pattern') && userForm.get('phoneNumber').touched">
                            Phone number is not valid!
                        </mat-error>   
                        <mat-error *ngIf="userForm.controls['phoneNumber'].errors?.userPhoneExist">
                            User with same phone number already exists in the system.
                        </mat-error>  
                    </mat-form-field>

                </div>

                <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">                 

                    <mat-form-field appearance="outline" fxFlex="100">
                        <mat-label>Address</mat-label>
                        <textarea matInput formControlName="address"></textarea>                        
                        <!-- <mat-error>Address is required!</mat-error> -->
                    </mat-form-field>                    

                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">                 

                    <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
                        <mat-label>City</mat-label>
                        <input matInput formControlName="city">
                        <mat-icon matSuffix class="secondary-text">location_city</mat-icon>
                    </mat-form-field>
                    
                    <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
                        <mat-label>Province</mat-label>
                        <mat-select formControlName="province" class="align">
                            <mat-option *ngFor="let province of provinceList" [value]="province.id">
                                {{ province.name }}
                            </mat-option>                           
                        </mat-select>
                        <mat-icon matSuffix class="secondary-text">location_city</mat-icon>
                        <mat-error>Province is required!</mat-error>
                    </mat-form-field>                    

                    <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
                        <mat-label>Postal Code</mat-label>
                        <input placeholder="A1A 1A1" matInput formControlName="postalCode">
                        <mat-icon matSuffix class="secondary-text">markunread_mailbox</mat-icon>
                        <mat-error *ngIf="userForm.get('postalCode').hasError('pattern') && userForm.get('postalCode').touched">
                            Postal Code is not valid!
                        </mat-error>
                    </mat-form-field>      

                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field appearance="outline" fxFlex="100">
                        <mat-label>Reference Precentage</mat-label>
                        <input matInput formControlName="referencePercentage">
                        <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>  
                    </mat-form-field>
                </div>

                <!-- <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                    <mat-form-field appearance="outline" fxFlex="100">
                        <mat-label>Role</mat-label>
                        <mat-select formControlName="role">
                            <mat-option *ngFor="let role of userRoles" [value]="role">
                                {{ role }}
                            </mat-option>                           
                        </mat-select>
                        <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                        <mat-error>Role is required!</mat-error>
                    </mat-form-field>

                </div> -->
                <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <input class="form-check-input" formControlName="twoFactorEnabled" type="checkbox" value="" id="twoFactorEnabled">
                    <label class="form-check-label checkbox" for="twoFactorEnabled">
                       Enable 2FAuthenticator
                    </label>                    
                </div><br>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <input class="form-check-input" formControlName="isActive" type="checkbox" value="" id="isActive">
                    <label class="form-check-label checkbox" for="isActive">
                        Activate User
                    </label>                    
                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">                 
                    <table mat-table [dataSource]="roleDataSource" fxFlex="100" class="pr-4" formArrayName="role">
                         <ng-container matColumnDef="roleName">
                         <th mat-header-cell *matHeaderCellDef mat-sort-header class="w-22">Role</th>
                         <td mat-cell *matCellDef="let element let index = index"  [formGroupName]="index"> 
                             <mat-form-field appearance="outline" class="w-90 p-3">    
                                 <mat-label>Role</mat-label>                           
                                 <mat-select formControlName="roleName">
                                     <mat-option *ngFor="let role of userRoles" [value]="role">
                                         {{ role }}
                                     </mat-option>                           
                                 </mat-select> 
                             </mat-form-field>  
                         </td>
                         </ng-container>                       
                         <ng-container matColumnDef="storeId">
                             <th mat-header-cell *matHeaderCellDef class="w-22 w-4">Store</th>
                             <ng-container *matCellDef="let element let index = index">
                                <td *ngIf="showStoreDropdown(index)" mat-cell [formGroupName]="index"> 
                                    <mat-form-field appearance="outline" class="w-90 p-1">    
                                        <mat-label>Store</mat-label>                           
                                        <mat-select formControlName="storeId">
                                            <mat-option *ngFor="let store of storeList" [value]="store.id">
                                                {{ store.name }}
                                            </mat-option>                           
                                        </mat-select> 
                                        <mat-error>
                                            Store is required!
                                        </mat-error>
                                    </mat-form-field>  
                                </td>
                             </ng-container>
                         </ng-container>
                         <ng-container matColumnDef="action">
                             <th mat-header-cell *matHeaderCellDef class="w-12"></th>
                             <td mat-cell *matCellDef="let element; let i = index">    
                                 <button class="mt-minus-10" *ngIf="roleDataSource.data.length === i+1" type="button" (click)="addRoleRow()" mat-mini-fab color="accecnt"><mat-icon>add</mat-icon></button>
                                 <button class="mt-minus-10" *ngIf="roleDataSource.data.length !== i+1" type="button" (click)="removeRoleRow(element, i)" mat-mini-fab color="accecnt"><mat-icon>remove</mat-icon></button>                  
                             </td>
                         </ng-container>
                         <tr mat-header-row *matHeaderRowDef="displayedRoleColumns;sticky: true;"></tr>
                         <tr mat-row class="cursor-pointer" *matRowDef="let row; columns: displayedRoleColumns;"></tr>
                     </table>
                </div>

                <div fxLayout="row" fxLayoutAlign="start center">
                    <button class="mr-8" mat-raised-button type="submit" color="accent"
                      [disabled]="!userForm.valid">
                        Update
                    </button>
                    <button mat-raised-button type="button" (click)="cancel()">
                        Cancel
                    </button>
                </div>
            </form>
        </div>

    </div>
    <!-- / CONTENT -->

</div>


