.search-field {
    ::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0.4em 0.4em !important;}
    ::ng-deep .mat-form-field-label-wrapper { top: -1.5em; }
    
    ::ng-deep .mat-form-field-flex {
        height: 38px;
    }
    
    ::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
        transform: translateY(-1.1em) scale(.75);
        width: 133.33333%;
    }
    
    ::ng-deep .mat-input-element {
        position: relative;
        top:  -0.2em; /* Adjust accordingly to keep placeholder/input text vertically centered. */
      }
}
