<div id="ngx-datatable" class="page-layout simple fullwidth">

    <!-- HEADER -->
    <div class="header accent p-24 h-50" fxLayout="row" fxLayoutAlign="center center" fxLayout.gt-xs="row"
         fxLayoutAlign.gt-xs="space-between center">
        <div fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="column" fxLayoutAlign.gt-xs="center start">
            <!-- <div fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="secondary-text s-18">home</mat-icon>
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                <span class="secondary-text">Documentation</span>
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                <span class="secondary-text">Datatables</span>
            </div> -->
            <div class="h1">Lead</div>
        </div>        
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content p-24"> 
        
        <div fxLayout="row" fxLayoutAlign="start center">
            <ng-container *appHasClaim="'claim:System Admin:Lead Admin:Relationship Manager:Store Manager:Store Employee:Product Manager:Product Employee:Store Owner'">
            <button class="mr-8 mb-12" mat-raised-button (click)="goToCreateLead()" type="button" color="accent">
                Add Lead
            </button>
            </ng-container>  


            <div class="search-field" fxFlex="100">
                <mat-form-field  appearance="outline" fxFlex="100" class="pr-4">                
                    <input matInput placeholder="search lead" (keyup)='search($event)'>               
                </mat-form-field>
            </div>            
        </div>
        
        <ngx-datatable
            class="material"
            [rows]="rows"
            [loadingIndicator]="loadingIndicator"
            [columnMode]="'force'"
            [headerHeight]="48"
            [footerHeight]="56"
            [rowHeight]="'auto'"
            [scrollbarH]="true"
            [reorderable]="reorderable"
            [reorderable]="reorderable"
            [columns]="columns"          
            [externalPaging]="true"
            [count]="paginationInfo?.totalCount"
            [offset]="paginationInfo?.currentPage"
            [limit]="paginationInfo?.pageSize"
            (page)="getNextPage($event)"
            (activate)="leadRowSelect($event)">  
           
        </ngx-datatable>

    </div>

</div>

