<div id="forms" class="page-layout simple fullwidth" fxLayout="column">

    <!-- HEADER -->
    <!-- <div class="header accent p-24 h-50" fxLayout="row" fxLayoutAlign="start center">
        <div fxLayout="column" fxLayoutAlign="center start">            
            <div class="h1">Create Contact</div>
        </div>
    </div> -->
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">      

        <div class="mb-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row">           

            <form class="mat-card mat-elevation-z4 p-24 mr-24" fxLayout="column" fxLayoutAlign="start"
                  fxFlex="1 0 auto" name="form" [formGroup]="contactForm" 
                  (submit)="submitForm()" novalidate="">          
                  
                <div class="h2 mb-24 header-font-color">Create Contact</div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                    <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
                        <mat-label>First Name</mat-label>
                        <input matInput formControlName="firstName">
                        <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                        <mat-error>First Name is required!</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
                        <mat-label>Middle Name</mat-label>
                        <input matInput formControlName="middleName">
                        <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                        
                    </mat-form-field>

                    <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
                        <mat-label>Last Name</mat-label>
                        <input matInput formControlName="lastName">
                        <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                        <mat-error>Last Name is required!</mat-error>
                    </mat-form-field>                   

                </div>                

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">                 

                    <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="email">
                        <mat-icon matSuffix class="secondary-text">email_circle</mat-icon>
                        <mat-error *ngIf="contactForm.get('email').hasError('required') && contactForm.get('email').touched">
                            Email Id is required!
                        </mat-error>
                        <mat-error *ngIf="contactForm.get('email').hasError('pattern') && contactForm.get('email').touched">
                            Email Id is not valid!
                        </mat-error>
                        <mat-error *ngIf="contactForm.controls['email'].errors?.leadEmailExist">
                            User with same Email Id already exists in the system.
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
                        <mat-label>Phone No.</mat-label>
                        <input matInput formControlName="phoneNumber">
                        <mat-icon matSuffix class="secondary-text">phone_circle</mat-icon>
                        <mat-error *ngIf="contactForm.get('phoneNumber').hasError('required') && contactForm.get('phoneNumber').touched">
                            Phone number is required!
                        </mat-error>
                        <mat-error *ngIf="contactForm.get('phoneNumber').hasError('pattern') && contactForm.get('phoneNumber').touched">
                            Phone number is not valid!
                        </mat-error>
                        <mat-error *ngIf="contactForm.controls['phoneNumber'].errors?.leadPhoneExist">
                            Lead with same phone number already exists in the system.
                        </mat-error>
                    </mat-form-field>

                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">                 

                    <mat-form-field appearance="outline" fxFlex="100">
                        <mat-label>Address</mat-label>
                        <textarea matInput formControlName="address"></textarea>                        
                        
                    </mat-form-field>                    

                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">                 

                    <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
                        <mat-label>City</mat-label>
                        <input matInput formControlName="city">
                        <mat-icon matSuffix class="secondary-text">location_city</mat-icon>
                       
                    </mat-form-field>
                    
                    <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
                        <mat-label>Province</mat-label>
                        <mat-select formControlName="province" class="align">
                            <mat-option *ngFor="let province of provinces" [value]="province.name">
                                {{ province.name }}
                            </mat-option>                           
                        </mat-select>
                        <mat-icon matSuffix class="secondary-text">location_city</mat-icon>
                        <mat-error>Province is required!</mat-error>
                    </mat-form-field>                    

                    <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
                        <mat-label>Postal Code</mat-label>
                        <input placeholder="A1A 1A1" matInput formControlName="zipcode">
                        <mat-icon matSuffix class="secondary-text">markunread_mailbox</mat-icon>
                        <mat-error *ngIf="contactForm.get('zipcode').hasError('pattern') && contactForm.get('zipcode').touched">
                            Postal Code is not valid!
                        </mat-error>
                    </mat-form-field>      

                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto"> 
                    <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
                        <mat-label>Relation with lead</mat-label>
                        <mat-select name="relationWithLead" formControlName="relationWithLead">                            
                            <mat-option *ngFor="let relation of relations" [value]="relation">
                                {{ relation }}
                            </mat-option>                           
                        </mat-select>
                        <mat-icon matSuffix class="secondary-text">location_city</mat-icon>
                        <mat-error>Relation with lead is required!</mat-error>
                    </mat-form-field> 
                </div>               

                <div fxLayout="row" fxLayoutAlign="start center" class="mt-8">
                    <button class="mr-8" mat-raised-button type="submit" 
                        color="accent" [disabled]="!contactForm.valid">
                        Add
                    </button>
                    <button mat-raised-button type="button" (click)="cancel()">
                        Cancel
                    </button>
                </div>                           
            </form>
        </div>

    </div>
    <!-- / CONTENT -->

</div>


