@import "src/@fuse/scss/fuse";

.event-form-dialog {

    @include media-breakpoint('xs') {
        width: 100%;
    }

    @include media-breakpoint('gt-xs') {
        width: 600px;
    }

    .mat-dialog-container {
        padding: 0;
    }

    .dialog-content-wrapper {
        max-height: 85vh;
        display: flex;
        flex-direction: column;
    }

    .primary-color-input,
    .secondary-color-input {
        padding: 6px 8px;
    }

    .title-with-ellipsis {
        white-space: nowrap;
        width: 521px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
