.calendar {
    flex: 1 1 auto;
    overflow-y: auto;
    max-height: 500px;
}

::ng-deep #calendar .header {
    height: 100px !important;
    min-height: 100px !important;
}

@media screen and (max-width: 1919px) and (min-width: 1280px) {
    ::ng-deep .cal-month-view .cal-day-cell {
        min-height: 60px !important;
        height: 60px !important;
    }
}
::ng-deep .cal-month-view .cal-events {
    margin-top: -40px !important;
}