.w-22{
    width: 22%;
}
.w-12{
    width: 12%;
}
.w-90 {
    width: 90%;
}

::ng-deep th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
    padding-left: 0 !important;
}
.mt-minus-10 {
    margin-top: -10px !important;
}
.pt-0 {
    padding-top: 0 !important;
}
.align{
    height: 1.5rem;
}
.alignmaterial{
    height: 1.6rem;
}
.header-font-color{
    color:#004285;
}
.pt-2{
    padding-top: 2%;
}
.pt-3{
    padding-top: 3%;
}
.padding-top{
    padding-top: 1.3%;
}
.pt-1{
    padding-top: 1%;
}
.checkbox{
    padding-left: 1%;
    width: 80%;
    font-weight: 600;
}
.mb-10{
    margin-bottom: 10px !important;
}