<div id="forms" class="page-layout simple fullwidth" fxLayout="column">

    <!-- HEADER -->
    <div class="header accent p-24 h-50" fxLayout="row" fxLayoutAlign="start center">
        <div fxLayout="column" fxLayoutAlign="center start">
            <div class="h1">Edit Lead</div>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content p-24 pt-0">      

        <mat-tab-group dynamicHeight (selectedTabChange)="tabChanged($event);">

            <mat-tab label="Profile">

                <ng-template matTabContent>
                    <div class="mb-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row">

                        <form *ngIf="isFormLoaded" class="mat-card mat-elevation-z4 p-24 mr-24" fxLayout="column"
                            fxLayoutAlign="start" fxFlex="1 0 auto" name="form" [formGroup]="leadForm"
                            (submit)="submitForm()" novalidate="">

                            <div fxLayout="row" fxlayoutalign="space-between center">
                                <div color="accent">
                                    <div class="h2 mb-24 header-font-color">Basic Details</div>
                                </div>                                
                                <div *ngIf="showGetSensitiveInfoButton">                                    
                                    <button class="ml-8" (click)="getSensitiveInfo()" mat-raised-button type="button">
                                        Get Sensitive Info
                                    </button>                                
                                </div>
                            </div>                            
                            
                            <p>Lead Id : {{ leadModel.leadNumber}}</p>

                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                                <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
                                    <mat-label>First Name</mat-label>                                    
                                    <input matInput formControlName="firstName">                                    
                                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                                    <mat-error *ngIf="leadForm.get('firstName').hasError('required') 
                                                    && leadForm.get('firstName').touched">
                                        First Name is required!
                                    </mat-error>
                                    <mat-error *ngIf="leadForm.get('firstName').hasError('pattern') 
                                                    && leadForm.get('firstName').touched">
                                        First Name is not valid!
                                    </mat-error>
                                    <mat-error *ngIf="leadForm.get('firstName').hasError('maxlength') 
                                                     && leadForm.get('firstName').touched">
                                        First Name cannot exceed 50 characters!
                                    </mat-error>
                                </mat-form-field>

                                <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
                                    <mat-label>Middle Name</mat-label>
                                    <input matInput formControlName="middleName">
                                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                                    <mat-error *ngIf="leadForm.get('middleName').hasError('required') 
                                                    && leadForm.get('middleName').touched">
                                        Middle Name is required!
                                    </mat-error>
                                    <mat-error *ngIf="leadForm.get('middleName').hasError('pattern') 
                                                    && leadForm.get('middleName').touched">
                                        Middle Name is not valid!
                                    </mat-error>
                                    <mat-error *ngIf="leadForm.get('middleName').hasError('maxlength') 
                                                    && leadForm.get('middleName').touched">
                                        Middle Name cannot exceed 50 characters!
                                    </mat-error>
                                </mat-form-field>

                                <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
                                    <mat-label>Last Name</mat-label>
                                    <input matInput formControlName="lastName">
                                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                                    <mat-error *ngIf="leadForm.get('lastName').hasError('required') 
                                                    && leadForm.get('lastName').touched">
                                        Last Name is required!
                                    </mat-error>
                                    <mat-error *ngIf="leadForm.get('lastName').hasError('pattern') 
                                                    && leadForm.get('lastName').touched">
                                        Last Name is not valid!
                                    </mat-error>
                                    <mat-error *ngIf="leadForm.get('lastName').hasError('maxlength') 
                                                    && leadForm.get('lastName').touched">
                                        Last Name cannot exceed 50 characters!
                                    </mat-error>
                                </mat-form-field>

                            </div>

                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                                <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
                                    <mat-label>Email</mat-label>
                                    <input matInput formControlName="email">
                                    <mat-icon matSuffix class="secondary-text">email_circle</mat-icon>
                                    <mat-error
                                        *ngIf="leadForm.get('email').hasError('required') && leadForm.get('email').touched">
                                        Email Id is required!
                                    </mat-error>
                                    <mat-error
                                        *ngIf="leadForm.get('email').hasError('pattern') && leadForm.get('email').touched">
                                        Email Id is not valid!
                                    </mat-error>
                                    <mat-error *ngIf="leadForm.controls['email'].errors?.leadEmailExist">
                                        User with same Email Id already exists in the system.
                                    </mat-error>
                                </mat-form-field>

                                <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
                                    <mat-label>Phone No.</mat-label>
                                    <input matInput formControlName="phoneNumber">
                                    <mat-icon matSuffix class="secondary-text">phone_circle</mat-icon>
                                    <mat-error
                                        *ngIf="leadForm.get('phoneNumber').hasError('required') && leadForm.get('phoneNumber').touched">
                                        Phone number is required!
                                    </mat-error>
                                    <mat-error
                                        *ngIf="leadForm.get('phoneNumber').hasError('pattern') && leadForm.get('phoneNumber').touched">
                                        Phone number is not valid!
                                    </mat-error>
                                    <mat-error *ngIf="leadForm.controls['phoneNumber'].errors?.leadPhoneExist">
                                        Lead with same phone number already exists in the system.
                                    </mat-error>
                                </mat-form-field>

                            </div>

                            <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">

                                <mat-form-field appearance="outline" fxFlex="100">
                                    <mat-label>Address</mat-label>
                                    <textarea matInput formControlName="address"></textarea>
                                    <mat-error>Address is required!</mat-error>
                                </mat-form-field>

                            </div>

                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                                <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
                                    <mat-label>City</mat-label>
                                    <input matInput formControlName="city">
                                    <mat-icon matSuffix class="secondary-text">location_city</mat-icon>
                                    <mat-error *ngIf="leadForm.get('city').hasError('required') 
                                                && leadForm.get('city').touched">
                                                City is required!
                                    </mat-error>
                                    <mat-error *ngIf="leadForm.get('city').hasError('pattern') 
                                                                && leadForm.get('city').touched">
                                        City is not valid!
                                    </mat-error>
                                    <mat-error *ngIf="leadForm.get('city').hasError('maxlength') 
                                                                        && leadForm.get('city').touched">
                                        City cannot exceed 30 characters!
                                    </mat-error>
                                </mat-form-field>

                                <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
                                    <mat-label>Province</mat-label>
                                    <mat-select formControlName="province" class="align">
                                        <mat-option *ngFor="let province of provinces" [value]="province.id">
                                            {{  province.name }}
                                        </mat-option>
                                    </mat-select>
                                    <mat-icon matSuffix class="secondary-text">location_city</mat-icon>
                                    <mat-error>Province is required!</mat-error>
                                </mat-form-field>

                                <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
                                    <mat-label>Postal Code</mat-label>
                                    <input matInput formControlName="zipcode">
                                    <mat-icon matSuffix class="secondary-text">markunread_mailbox</mat-icon>
                                    <mat-error
                                        *ngIf="leadForm.get('zipcode').hasError('required') && leadForm.get('zipcode').touched">
                                        Postal Code is required!
                                    </mat-error>
                                    <mat-error
                                        *ngIf="leadForm.get('zipcode').hasError('pattern') && leadForm.get('zipcode').touched">
                                        Postal Code is not valid!
                                    </mat-error>
                                </mat-form-field>

                            </div>
                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                                <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
                                    <mat-label>Source</mat-label>
                                    <mat-select formControlName="source">
                                        <mat-option *ngFor="let source of sources" [value]="source">
                                            {{ source }}
                                        </mat-option>                           
                                    </mat-select>
                                    <mat-icon matSuffix class="secondary-text">domain</mat-icon>                       
                                    <mat-error>Source is required!</mat-error>
                                </mat-form-field>

                                <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
                                    <mat-label>Are you an existing client of Liberty Financial Group?</mat-label>
                                    <mat-select formControlName="existingClient">
                                        <mat-option *ngFor="let ec of existingClient" [value]="ec.value">
                                            {{ ec.key }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <!-- <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">                 
                                <table mat-table [dataSource]="serviceDataSource" fxFlex="100" class="pr-4" formArrayName="service">
                                     <ng-container matColumnDef="serviceName">
                                     <th mat-header-cell *matHeaderCellDef mat-sort-header class="w-22">Service</th>
                                     <td mat-cell *matCellDef="let element let index = index"  [formGroupName]="index"> 
                                         <mat-form-field appearance="outline" class="w-90" style="padding-top: 3%;">    
                                             <mat-label>Service</mat-label>                           
                                             <mat-select formControlName="id">
                                                 <mat-option *ngFor="let service of services" [value]="service.id">
                                                     {{ service.name }}
                                                 </mat-option>                           
                                             </mat-select> 
                                         </mat-form-field>  
                                     </td>
                                     </ng-container>                       
                                     <ng-container matColumnDef="serviceDescription">
                                         <th mat-header-cell *matHeaderCellDef class="w-22" style="width: 290%;">Description</th>
                                         <td mat-cell *matCellDef="let element let index = index"  [formGroupName]="index">    
                                             <mat-form-field appearance="outline" style="width: 98%; padding-top: 1.3%;">   
                                                 <mat-label>Description</mat-label>                                 
                                                 <input matInput formControlName="description">  
                                             </mat-form-field>                         
                                         </td>
                                     </ng-container>
                                     <ng-container matColumnDef="action">
                                         <th mat-header-cell *matHeaderCellDef class="w-12"></th>
                                         <td mat-cell *matCellDef="let element; let i = index">    
                                             <button class="mt-minus-10" *ngIf="serviceDataSource.data.length === i+1" type="button" (click)="addServiceRow()" mat-mini-fab color="accecnt"><mat-icon>add</mat-icon></button>
                                             <button class="mt-minus-10" *ngIf="serviceDataSource.data.length !== i+1" type="button" (click)="removeServiceRow(element, i)" mat-mini-fab color="accecnt"><mat-icon>remove</mat-icon></button>                  
                                         </td>
                                     </ng-container>
                                     <tr mat-header-row *matHeaderRowDef="displayedServiceColumns;sticky: true;"></tr>
                                     <tr mat-row class="cursor-pointer" *matRowDef="let row; columns: displayedServiceColumns;"></tr>
                                 </table>
                            </div> -->

                            <ng-container *appHasClaim="'claim:System Admin:Lead Admin:Relationship Manager'">
                            <div class="h2 mb-24 header-font-color pt-2">Work Details</div>

                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
                                    <mat-label>Self-employed / Job?</mat-label>
                                    <mat-select formControlName="employment" class="align">
                                        <mat-option *ngFor="let sj of selfEmployedOrJob" [value]="sj">
                                            {{ sj }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
                                    <mat-label>Position</mat-label>
                                    <input matInput formControlName="position">
                                    <mat-icon matSuffix class="secondary-text">group</mat-icon>
                                    <mat-error>Position is required!</mat-error>
                                </mat-form-field>
                            </div>
                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
                                    <mat-label>Company Name</mat-label>
                                    <input matInput formControlName="companyName">
                                    <mat-icon matSuffix class="secondary-text">business</mat-icon>
                                    <mat-error>Company name is required!</mat-error>
                                </mat-form-field>

                                <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
                                    <mat-label>Website</mat-label>
                                    <input matInput formControlName="website">
                                    <mat-icon matSuffix class="secondary-text">web</mat-icon>
                                    <mat-error
                                        *ngIf="leadForm.get('website').hasError('required') && leadForm.get('website').touched">
                                        Website is required!
                                    </mat-error>
                                    <mat-error
                                        *ngIf="leadForm.get('website').hasError('pattern') && leadForm.get('website').touched">
                                        Website is not valid!
                                    </mat-error>
                                </mat-form-field>

                                <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
                                    <mat-label>Employed since</mat-label>                                    
                                    <input matInput [matDatepicker]="employmentDate" formControlName="employmentDate">
                                    <mat-datepicker-toggle matSuffix [for]="employmentDate"></mat-datepicker-toggle>
                                    <mat-datepicker #employmentDate></mat-datepicker>
                                    <mat-error>Date is required!</mat-error>
                                </mat-form-field>
                            </div>

                            <div class="h2 mb-24 header-font-color">Salary Details</div>
                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
                                    <mat-label>Salary Frequency</mat-label>
                                    <mat-select formControlName="salaryFrequency" class="align">
                                        <mat-option *ngFor="let salaryFrequency of salaryFrequencies"
                                            [value]="salaryFrequency">
                                            {{ salaryFrequency }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
                                    <mat-label>Salary Amount</mat-label>
                                    <input matInput formControlName="salaryAmount">
                                    <mat-icon matSuffix class="secondary-text">location_city</mat-icon>
                                    <mat-error>Salary Amount is required!</mat-error>
                                </mat-form-field>

                            </div>

                            <div *appHasClaim="'claim:System Admin:Lead Admin:Relationship Manager'" class="h2 mb-24 header-font-color">SIN Details</div>
                            <p *appHasClaim="'claim:System Admin:Lead Admin:Relationship Manager'">SIN : {{ leadModel.sin | secureText:3 }}</p>

                            <div class="h2 mb-24 header-font-color mb-10">Assets/Liabilities</div>
                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                <button class="mb-8" *ngIf="dataSource.data.length === 0" 
                                    (click)="addAssetsLiabilities()" mat-raised-button type="button">
                                    Add Assets/Liability
                                </button> 
                            </div>
                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" *ngIf="dataSource.data.length !== 0">                                                             
                                <table mat-table [dataSource]="dataSource" fxFlex="100" class="pr-4"
                                    formArrayName="assetsLiability">
                                    <ng-container matColumnDef="type">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="w-22">
                                            Assets/Liability</th>
                                        <td mat-cell *matCellDef="let element let index = index"
                                            [formGroupName]="index">
                                            <mat-form-field appearance="outline" class="w-90 pt-3">
                                                <mat-label>Category</mat-label>
                                                <mat-select formControlName="type" class="align">
                                                    <mat-option *ngFor="let al of assetLiability" [value]="al">
                                                        {{ al }}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="name">
                                        <th mat-header-cell *matHeaderCellDef class="w-22">Type</th>
                                        <td mat-cell *matCellDef="let element let index = index"
                                            [formGroupName]="index">
                                            <mat-form-field appearance="outline" class="w-90 pt-3">
                                                <mat-label>Assets/Liability Type</mat-label>
                                                <mat-select formControlName="id" class="align">
                                                    <mat-option *ngFor="let asset of assets" [value]="asset.id">
                                                        {{ asset.name }}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="valuation">
                                        <th mat-header-cell *matHeaderCellDef class="w-22">Valuation</th>
                                        <td mat-cell *matCellDef="let element let index = index"
                                            [formGroupName]="index">
                                            <mat-form-field appearance="outline" class="pt-3">
                                                <mat-label>Valuation</mat-label>
                                                <input matInput formControlName="valuation">
                                                <mat-error>
                                                    Valuation is not valid!
                                                </mat-error>
                                            </mat-form-field>
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="description">
                                        <th mat-header-cell *matHeaderCellDef class="w-22">Description</th>
                                        <td mat-cell *matCellDef="let element let index = index"
                                            [formGroupName]="index">
                                            <mat-form-field appearance="outline" class="pt-3">
                                                <mat-label>Description</mat-label>
                                                <input matInput formControlName="description">
                                            </mat-form-field>
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="action">
                                        <th mat-header-cell *matHeaderCellDef class="w-12"></th>
                                        <td mat-cell *matCellDef="let element; let i = index">                                           
                                            <button class="mt-minus-10"
                                                type="button" (click)="removeAssetsLiabilities(element, i)" mat-mini-fab
                                                color="accecnt">
                                                <mat-icon>remove</mat-icon>
                                            </button>
                                            <button class="mt-minus-10 ml-4" *ngIf="dataSource.data.length === i+1"
                                                type="button" (click)="addAssetsLiabilities()" mat-mini-fab
                                                color="accecnt">
                                                <mat-icon>add</mat-icon>
                                            </button>
                                        </td>
                                    </ng-container>
                                    <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true;"></tr>
                                    <tr mat-row class="cursor-pointer" *matRowDef="let row; columns: displayedColumns;">
                                    </tr>
                                </table>
                            </div>

                            <div class="h2 mb-24 header-font-color pt-2">Family Details</div>
                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
                                    <mat-label>Number of Children</mat-label>
                                    <input matInput formControlName="noOfChildren">
                                    <mat-error
                                        *ngIf="leadForm.get('noOfChildren').hasError('pattern') && leadForm.get('noOfChildren').touched">
                                        Number of children is not valid!
                                    </mat-error>
                                    <mat-error *ngIf="leadForm.get('noOfChildren').hasError('max') 
                                                && leadForm.get('noOfChildren').touched">
                                                Number of children must be in single digit!
                                    </mat-error>
                                </mat-form-field>

                                <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
                                    <mat-label>Marital Status</mat-label>
                                    <mat-select formControlName="maritalStatus" class="alignmaterial">
                                        <mat-option *ngFor="let maritalStatus of maritalstatus" [value]="maritalStatus">
                                            {{ maritalStatus }}
                                        </mat-option>
                                    </mat-select>
                                    <mat-icon matSuffix class="secondary-text">wc</mat-icon>
                                    <mat-error>Marital Status is required!</mat-error>
                                </mat-form-field>

                                <!-- <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
                                    <mat-label>Sopuse Of</mat-label>
                                    <input matInput formControlName="spouseOf">
                                    <mat-icon matSuffix class="secondary-text">supervised_user_circle</mat-icon> 
                                </mat-form-field>  -->
                            </div>
                            </ng-container>
                            <ng-container *appHasClaim="'claim:System Admin:Lead Admin:Relationship Manager:Ambassador'">
                            <div class="h2 mb-24 header-font-color pt-1">Status</div>
                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
                                    <mat-label>Status</mat-label>
                                    <mat-select formControlName="status" class="alignmaterial">
                                        <mat-option *ngFor="let status of leadStatus" [value]="status">
                                            {{ status }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
                                    <mat-label>Assigned To</mat-label>                                    
                                    <input type="text" placeholder="Assign To" aria-label="Number" matInput [formControl]="assingedToControl"
                                        [matAutocomplete]="auto" [readonly]="isSalesRep">                                   
                                </mat-form-field>

                                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                                    <mat-option *ngFor="let option of (assignedTo | async)" [value]="option">
                                        {{ option.fName }} {{ option.lName }} - {{option.role}}
                                    </mat-option>
                                </mat-autocomplete>

                                <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
                                    <mat-label>Assigned Store</mat-label>
                                    <mat-select formControlName="assignedStore" class="alignmaterial">
                                        <mat-option *ngFor="let store of assignedStore" [value]="store.id">
                                            {{ store.name }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            </ng-container>
                        <ng-container *appHasClaim="'claim:System Admin:Lead Admin:Relationship Manager'">
                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <mat-label>Any other relevant details</mat-label>
                                    <textarea matInput formControlName="customerInsight"></textarea>
                                </mat-form-field>
                            </div>

                            <div class="h2 mb-24 header-font-color pt-1">Reference</div>
                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                <mat-form-field appearance="outline" fxFlex="100" class="pr-4" >
                                    <mat-label>Referred By</mat-label>
                                    <input matInput formControlName="referredBy" readonly>
                                    <mat-icon matSuffix class="secondary-text">business</mat-icon>
                                    <!-- <mat-error>Referred By name is required!</mat-error> -->
                                </mat-form-field>
                            </div>

                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                <input class="form-check-input" formControlName="allowMarketingMessages" type="checkbox"
                                    value="" id="allowMarketingMessages">
                                <label class="form-check-label checkbox" for="allowMarketingMessages">
                                    I consent to receiving promotional emails about your products and services                                </label>
                            </div>

                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                <input class="form-check-input" formControlName="allowUseOfPersonalInfo" type="checkbox"
                                    value="" id="allowUseOfPersonalInfo">
                                <label class="form-check-label checkbox" for="allowUseOfPersonalInfo">
                                    <br>I consent to my data being shared with Liberty Financial Group Inc. and its partners so that they may discuss financial product and service offerings with me. 
                                    <br>(Liberty Financial Group will not sell or distribute your email address to any third party who is not contracted with Liberty Financial Group at any time. View our Privacy Policy.)
                                </label>
                            </div>
                        </ng-container>

                            <div fxLayout="row" fxLayoutAlign="start center" class="mt-8">                                
                                <button *appHasClaim="'claim:System Admin:Lead Admin:Relationship Manager:Store Manager'" class="mr-8" mat-raised-button type="submit" color="accent">
                                    Update
                                </button>                                
                                <button mat-raised-button type="button" (click)="cancel()">
                                    Cancel
                                </button>
                            </div>
                        </form>
                    </div>
                </ng-template>

            </mat-tab>

            <mat-tab *appHasClaim="'claim:System Admin:Lead Admin:Relationship Manager:Product Manager:Product Employee:Ambassador:Store Manager:Store Employee'" label="Products/Services">

                <ng-template matTabContent>
                    <app-lead-service *ngIf="isFormLoaded" [selectedServiceIds]="leadModel?.selectedServiceId">
                    </app-lead-service>
                </ng-template>

            </mat-tab>

            <mat-tab *appHasClaim="'claim:System Admin:Lead Admin:Relationship Manager'" label="Contacts">     
                
                <ng-template matTabContent>
                    <app-contact *ngIf="leadModel.id"></app-contact>
                </ng-template>

            </mat-tab>

            <mat-tab *appHasClaim="'claim:System Admin:Lead Admin:Relationship Manager'" label="Tasks">
                <ng-template matTabContent>
                    <app-task *ngIf="isFormLoaded" [leadId]="this.leadModel.id"></app-task>
                </ng-template>                
            </mat-tab>

            <mat-tab *appHasClaim="'claim:System Admin:Lead Admin:Relationship Manager:Ambassador:Store Manager:Store Employee'" label="Attachments">
                <ng-template matTabContent>
                    <app-attachment *ngIf="isFormLoaded" [leadId]="this.leadModel.id"></app-attachment>
                </ng-template>
            </mat-tab>

            <mat-tab *appHasClaim="'claim:System Admin:Lead Admin:Relationship Manager'" label="History">
                <ng-template matTabContent>
                    <app-history *ngIf="isFormLoaded" [leadId]="this.leadModel.id"></app-history>
                </ng-template>                
            </mat-tab>

        </mat-tab-group>

    </div>
    <!-- / CONTENT -->

</div>