<div id="ngx-datatable" class="page-layout simple fullwidth">

    <!-- CONTENT -->
    <div class="content p-24"> 
        
        <div class="file-uploader">
            <input hidden type="file" #fileInput (change)="uploadAttachment(fileInput.files)"/>
            <button mat-raised-button
                    color="accent"
                    class="add-file-button mr-8 mb-12"
                    (click)="fileInput.click()"
                    aria-label="Upload Attachment"
                    [@animate]="{value:'*', params:{delay:'300ms',scale:'0.2'}}">
                Upload Attachment
            </button>
        </div>

        <ngx-datatable
            class="material"
            [rows]="rows"
            [loadingIndicator]="loadingIndicator"
            [columnMode]="'force'"
            [headerHeight]="48"
            [footerHeight]="56"
            [rowHeight]="'auto'"
            [scrollbarH]="true"
            [reorderable]="reorderable"
            [externalPaging]="true"
            [count]="paginationInfo?.totalCount"
            [offset]="paginationInfo?.currentPage"
            [limit]="paginationInfo?.pageSize"
            (page)="getNextPage($event)"
            (activate)="attachmentRowSelect($event)">      

        <ngx-datatable-column name="originalDocumentName">
          <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
            <span (click)="sort()">Name</span>
          </ng-template>
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <div class="with-icon">
                <mat-icon class="type-icon" [ngClass]="row.type"></mat-icon>{{ row.originalDocumentName }}                
            </div>            
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="type">
            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
              <span (click)="sort()">Type</span>
            </ng-template>
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
              {{ row.type }}
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="createdOn">
            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
              <span (click)="sort()">Uploaded On</span>
            </ng-template>
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
              {{ row.createdOn + 'Z' | date: 'MM/dd/yyyy HH:mm' }}
            </ng-template>
          </ngx-datatable-column>  
          
          <ngx-datatable-column>
            <ng-template let-column="column" ngx-datatable-header-template>
              <span>View</span>
            </ng-template>
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <button mat-icon-button color="primary"
                (click)="downloadAttachment(row)">
                    <mat-icon>remove_red_eye</mat-icon>
                  </button>               
            </ng-template>
          </ngx-datatable-column> 
                 
      </ngx-datatable>

    </div>

</div>