@import "src/@fuse/scss/fuse";

app-attachment {
    width: 100%;
    .with-icon {
        display: flex;
        align-items: center;
    }

    .type-icon {

        &.folder {
            &:before {
                content: 'folder';
                color: #FFB300;
            }
        }

        &.document {
            &:before {
                content: 'insert_drive_file';
                color: #1565C0;
            }
        }

        &.spreadsheet {
            &:before {
                content: 'insert_chart';
                color: #4CAF50;
            }
        }
    }

    .mat-table {
        background: transparent;
        box-shadow: none;

        .mat-row {
            position: relative;
            cursor: pointer;
            min-height: 64px;
        }

        // .type-icon {

        //     &.folder {
        //         &:before {
        //             content: 'folder';
        //             color: #FFB300;
        //         }
        //     }
    
        //     &.document {
        //         &:before {
        //             content: 'insert_drive_file';
        //             color: #1565C0;
        //         }
        //     }
    
        //     &.spreadsheet {
        //         &:before {
        //             content: 'insert_chart';
        //             color: #4CAF50;
        //         }
        //     }
        // }
    }
}
