<div class="mb-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row">           

    <form *ngIf="isFormLoaded" class="mat-card mat-elevation-z4 p-24 mr-24" fxLayout="column" fxLayoutAlign="start"
          fxFlex="1 0 auto" name="form" [formGroup]="leadServiceForm" 
          (submit)="submitForm()" novalidate="">

        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

            <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
                <mat-label>Name</mat-label>
                <mat-select formControlName="id" (selectionChange)="serviceSelectionChanged()">
                    <mat-option *ngFor="let service of services" [value]="service.id">
                        {{ service.name }}
                    </mat-option>                           
                </mat-select> 
                <mat-error *ngIf="leadServiceForm.get('id').hasError('required') 
                                && leadServiceForm.get('id').touched">
                    Service/Product name is required!
                </mat-error>  
                

            </mat-form-field>

        </div> 

        <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">                 

            <mat-form-field appearance="outline" fxFlex="100">
                <mat-label>Description</mat-label>
                <textarea matInput formControlName="description"></textarea> 
            </mat-form-field>                    

        </div>

        <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">                 
           
            <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
                <mat-label>Assigned To</mat-label>                                    
                <input type="text" placeholder="Assign To" aria-label="Number" matInput [formControl]="assingedToControl"
                    [matAutocomplete]="auto" [readonly]="isSalesRep">                                   
            </mat-form-field>

            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                <mat-option *ngFor="let option of (assignedTo | async)" [value]="option">
                    {{ option.fName }} {{ option.lName }} - {{option.role}}
                </mat-option>
            </mat-autocomplete>

        </div>

        <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">                 

            <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
                <mat-label>Assigned Status</mat-label>
                <mat-select formControlName="assignedStatus">
                    <mat-option *ngFor="let assignedStatus of assignStatus" [value]="assignedStatus">
                        {{ assignedStatus }}
                    </mat-option>
                </mat-select>
                <mat-icon matSuffix class="secondary-text">location_city</mat-icon>
                <mat-error>Assigned Status is required!</mat-error>
            </mat-form-field>                    

        </div>
        
        <div fxLayout="row" fxLayoutAlign="start center" class="mt-8">
            <div *appHasClaim="'claim:System Admin:Lead Admin:Relationship Manager:Product Manager:Product Employee'">
                <button  class="mr-8" mat-raised-button type="submit" 
                color="accent" >
               <span  *ngIf="selectedLeadService?.id">Update</span>
           
                <span *ngIf="!selectedLeadService?.id">Add</span>
            </button>
        </div>
            <button mat-raised-button type="button" (click)="cancel()">
                Cancel
            </button>
        </div>
    </form>
</div>