<fuse-widget class="" fxLayout="column" fxFlex="100" 
    fxFlex.gt-xs="50" fxFlex.gt-md="25" *ngFor="let card of summaryCards">

    <!-- Front -->
    <div class="fuse-widget-front mat-elevation-z2">
        <div class="pl-16 pr-8 py-16 h-52" fxLayout="row" fxLayoutAlign="space-between center">
            <div>{{ card.title }}</div>

            <!-- <button mat-icon-button fuseWidgetToggle aria-label="more">
                <mat-icon>more_vert</mat-icon>
            </button> -->
            <span> {{ card.subtitle }} </span>
        </div>

        <div class="pt-8 pb-32 pl-8 pr-8" fxLayout="column" fxLayoutAlign="center center">
            <mat-progress-bar mode="determinate" [color]="card.color" [value]="card.value"></mat-progress-bar>
        </div>
    </div>
    <!-- / Front -->

    <!-- Back -->
    <div class="fuse-widget-back p-16 pt-32 mat-elevation-z2">
        <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button"
                aria-label="Flip widget">
            <mat-icon class="s-16">close</mat-icon>
        </button>

        <div>
            More widget info
        </div>
    </div>
    <!-- / Back -->

</fuse-widget>