<div id="ngx-datatable" *ngIf="!isEditContact && !isNewContact" class="page-layout simple fullwidth">

    <!-- HEADER -->
    <!-- <div class="header accent p-24 h-50" fxLayout="row" fxLayoutAlign="center center" fxLayout.gt-xs="row"
         fxLayoutAlign.gt-xs="space-between center">
        <div fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="column" fxLayoutAlign.gt-xs="center start">           
            <div class="h1">Lead Contacts</div>
        </div>        
    </div> -->
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content p-24"> 
        
        <div fxLayout="row" fxLayoutAlign="start center">
            <button class="mr-8 mb-12" color="accent" mat-raised-button (click)="goToCreateContact()" type="button">
                Add Contact
            </button>           
        </div>

        <ngx-datatable
            class="material"
            [rows]="rows"
            [loadingIndicator]="loadingIndicator"
            [columnMode]="'force'"
            [headerHeight]="48"
            [footerHeight]="56"
            [rowHeight]="'auto'"
            [scrollbarH]="true"
            [reorderable]="reorderable"
            [columns]="columns"          
            [externalPaging]="true"
            [count]="paginationInfo?.totalCount"
            [offset]="paginationInfo?.currentPage"
            [limit]="paginationInfo?.pageSize"
            (page)="getNextPage($event)"
            (activate)="contactRowSelect($event)">            
        </ngx-datatable>

    </div>

</div>

<ng-container *ngIf="isEditContact">
    <app-edit-contact [id]="selectedContactId" (contactUpdated)="contactUpdated()"></app-edit-contact>
</ng-container>


<ng-container *ngIf="isNewContact">
    <app-create-contact (contactCreated)="contactCreated()"></app-create-contact>
</ng-container>


